## SQLite DB 생성

In [3]:
import sqlite3
conn = sqlite3.connect("ex.db")
cursor = conn.cursor()

## SQL 파일 덤프 (최초 1회 수행)

In [ ]:
# sql_file_path = "data.sql"

# with open(sql_file_path, "r", encoding="utf-8") as f:
#     sql_script = f.read()
    
# cursor.executescript(sql_script)
# conn.commit()

## SQL HOME

In [24]:
cursor.execute("select * from customers;")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
1 | Alfreds Futterkiste | Maria Anders | Obere Str. 57 | Berlin | 12209 | Germany
2 | Ana Trujillo Emparedados y helados | Ana Trujillo | Avda. de la Constitución 2222 | México D.F. | 05021 | Mexico
3 | Antonio Moreno Taquería | Antonio Moreno | Mataderos 2312 | México D.F. | 05023 | Mexico
4 | Around the Horn | Thomas Hardy | 120 Hanover Sq. | London | WA1 1DP | UK
5 | Berglunds snabbköp | Christina Berglund | Berguvsvägen 8 | Luleå | S-958 22 | Sweden
6 | Blauer See Delikatessen | Hanna Moos | Forsterstr. 57 | Mannheim | 68306 | Germany
7 | Blondel père et fils | Frédérique Citeaux | 24, place Kléber | Strasbourg | 67000 | France
8 | Bólido Comidas preparadas | Martín Sommer | C/ Araquil, 67 | Madrid | 28023 | Spain
9 | Bon app' | Laurence Lebihans | 12, rue des Bouchers | Marseille | 13008 | France
10 | Bottom-Dollar Marketse | Elizabeth Lincoln | 23 Tsawassen Blvd. | Tsawassen | T2F 8M4 | Canada
11 | B's Beverages | Victoria Ashworth | Fauntleroy Circus | London | EC2 5NT | UK
12 | Cactus Comidas para llevar | Patricio Simpson | Cerrito 333 | Buenos Aires | 1010 | Argentina
13 | Centro comercial Moctezuma | Francisco Chang | Sierras de Granada 9993 | México D.F. | 05022 | Mexico
14 | Chop-suey Chinese | Yang Wang | Hauptstr. 29 | Bern | 3012 | Switzerland
15 | Comércio Mineiro | Pedro Afonso | Av. dos Lusíadas, 23 | São Paulo | 05432-043 | Brazil
16 | Consolidated Holdings | Elizabeth Brown | Berkeley Gardens 12 Brewery | London | WX1 6LT | UK
17 | Drachenblut Delikatessend | Sven Ottlieb | Walserweg 21 | Aachen | 52066 | Germany
18 | Du monde entier | Janine Labrune | 67, rue des Cinquante Otages | Nantes | 44000 | France
19 | Eastern Connection | Ann Devon | 35 King George | London | WX3 6FW | UK
20 | Ernst Handel | Roland Mendel | Kirchgasse 6 | Graz | 8010 | Austria
21 | Familia Arquibaldo | Aria Cruz | Rua Orós, 92 | São Paulo | 05442-030 | Brazil
22 | FISSA Fabrica Inter. Salchichas S.A. | Diego Roel | C/ Moralzarzal, 86 | Madrid | 28034 | Spain
23 | Folies gourmandes | Martine Rancé | 184, chaussée de Tournai | Lille | 59000 | France
24 | Folk och fä HB | Maria Larsson | Åkergatan 24 | Bräcke | S-844 67 | Sweden
25 | Frankenversand | Peter Franken | Berliner Platz 43 | München | 80805 | Germany
26 | France restauration | Carine Schmitt | 54, rue Royale | Nantes | 44000 | France
27 | Franchi S.p.A. | Paolo Accorti | Via Monte Bianco 34 | Torino | 10100 | Italy
28 | Furia Bacalhau e Frutos do Mar | Lino Rodriguez | Jardim das rosas n. 32 | Lisboa | 1675 | Portugal
29 | Galería del gastrónomo | Eduardo Saavedra | Rambla de Cataluña, 23 | Barcelona | 08022 | Spain
30 | Godos Cocina Típica | José Pedro Freyre | C/ Romero, 33 | Sevilla | 41101 | Spain
31 | Gourmet Lanchonetes | André Fonseca | Av. Brasil, 442 | Campinas | 04876-786 | Brazil
32 | Great Lakes Food Market | Howard Snyder | 2732 Baker Blvd. | Eugene | 97403 | USA
33 | GROSELLA-Restaurante | Manuel Pereira | 5ª Ave. Los Palos Grandes | Caracas | 1081 | Venezuela
34 | Hanari Carnes | Mario Pontes | Rua do Paço, 67 | Rio de Janeiro | 05454-876 | Brazil
35 | HILARIÓN-Abastos | Carlos Hernández | Carrera 22 con Ave. Carlos Soublette #8-35 | San Cristóbal | 5022 | Venezuela
36 | Hungry Coyote Import Store | Yoshi Latimer | City Center Plaza 516 Main St. | Elgin | 97827 | USA
37 | Hungry Owl All-Night Grocers | Patricia McKenna | 8 Johnstown Road | Cork |  | Ireland
38 | Island Trading | Helen Bennett | Garden House Crowther Way | Cowes | PO31 7PJ | UK
39 | Königlich Essen | Philip Cramer | Maubelstr. 90 | Brandenburg | 14776 | Germany
40 | La corne d'abondance | Daniel Tonini | 67, avenue de l'Europe | Versailles | 78000 | France
41 | La maison d'Asie | Annette Roulet | 1 rue Alsace-Lorraine | Toulouse | 31000 | France
42 | Laughing Bacchus Wine Cellars | Yoshi Tannamuri | 1900 Oak St. | Vancouver | V3F 2K1 | Canada
43 | Lazy K Kountry Store | John Steel | 12 Orchestra Terrace | Walla Walla | 99362 | USA
44 | Lehmanns Marktstand | Renate Messner | Magazinweg 7 | Frankfurt a.M. | 60528 | Germany
45 | Let's Stop N Shop | Jaime Yorres | 87 Polk St. Suite 5 | San Francisco | 94117 | USA
46 | LILA-Supermercado | Carlos González | Carrera 52 con Ave. Bolívar #65-98 Llano Largo | Barquisimeto | 3508 | Venezuela
47 | LINO-Delicateses | Felipe Izquierdo | Ave. 5 de Mayo Porlamar | I. de Margarita | 4980 | Venezuela
48 | Lonesome Pine Restaurant | Fran Wilson | 89 Chiaroscuro Rd. | Portland | 97219 | USA
49 | Magazzini Alimentari Riuniti | Giovanni Rovelli | Via Ludovico il Moro 22 | Bergamo | 24100 | Italy
50 | Maison Dewey | Catherine Dewey | Rue Joseph-Bens 532 | Bruxelles | B-1180 | Belgium
51 | Mère Paillarde | Jean Fresnière | 43 rue St. Laurent | Montréal | H1J 1C3 | Canada
52 | Morgenstern Gesundkost | Alexander Feuer | Heerstr. 22 | Leipzig | 04179 | Germany
53 | North/South | Simon Crowther | South House 300 Queensbridge | London | SW7 1RZ | UK
54 | Océano Atlántico Ltda. | Yvonne Moncada | Ing. Gustavo Moncada 8585 Piso 20-A | Buenos Aires | 1010 | Argentina
55 | Old World Delicatessen | Rene Phillips | 2743 Bering St. | Anchorage | 99508 | USA
56 | Ottilies Käseladen | Henriette Pfalzheim | Mehrheimerstr. 369 | Köln | 50739 | Germany
57 | Paris spécialités | Marie Bertrand | 265, boulevard Charonne | Paris | 75012 | France
58 | Pericles Comidas clásicas | Guillermo Fernández | Calle Dr. Jorge Cash 321 | México D.F. | 05033 | Mexico
59 | Piccolo und mehr | Georg Pipps | Geislweg 14 | Salzburg | 5020 | Austria
60 | Princesa Isabel Vinhoss | Isabel de Castro | Estrada da saúde n. 58 | Lisboa | 1756 | Portugal
61 | Que Delícia | Bernardo Batista | Rua da Panificadora, 12 | Rio de Janeiro | 02389-673 | Brazil
62 | Queen Cozinha | Lúcia Carvalho | Alameda dos Canàrios, 891 | São Paulo | 05487-020 | Brazil
63 | QUICK-Stop | Horst Kloss | Taucherstraße 10 | Cunewalde | 01307 | Germany
64 | Rancho grande | Sergio Gutiérrez | Av. del Libertador 900 | Buenos Aires | 1010 | Argentina
65 | Rattlesnake Canyon Grocery | Paula Wilson | 2817 Milton Dr. | Albuquerque | 87110 | USA
66 | Reggiani Caseifici | Maurizio Moroni | Strada Provinciale 124 | Reggio Emilia | 42100 | Italy
67 | Ricardo Adocicados | Janete Limeira | Av. Copacabana, 267 | Rio de Janeiro | 02389-890 | Brazil
68 | Richter Supermarkt | Michael Holz | Grenzacherweg 237 | Genève | 1203 | Switzerland
69 | Romero y tomillo | Alejandra Camino | Gran Vía, 1 | Madrid | 28001 | Spain
70 | Santé Gourmet | Jonas Bergulfsen | Erling Skakkes gate 78 | Stavern | 4110 | Norway
71 | Save-a-lot Markets | Jose Pavarotti | 187 Suffolk Ln. | Boise | 83720 | USA
72 | Seven Seas Imports | Hari Kumar | 90 Wadhurst Rd. | London | OX15 4NB | UK
73 | Simons bistro | Jytte Petersen | Vinbæltet 34 | København | 1734 | Denmark
74 | Spécialités du monde | Dominique Perrier | 25, rue Lauriston | Paris | 75016 | France
75 | Split Rail Beer & Ale | Art Braunschweiger | P.O. Box 555 | Lander | 82520 | USA
76 | Suprêmes délices | Pascale Cartrain | Boulevard Tirou, 255 | Charleroi | B-6000 | Belgium
77 | The Big Cheese | Liz Nixon | 89 Jefferson Way Suite 2 | Portland | 97201 | USA
78 | The Cracker Box | Liu Wong | 55 Grizzly Peak Rd. | Butte | 59801 | USA
79 | Toms Spezialitäten | Karin Josephs | Luisenstr. 48 | Münster | 44087 | Germany
80 | Tortuga Restaurante | Miguel Angel Paolino | Avda. Azteca 123 | México D.F. | 05033 | Mexico
81 | Tradição Hipermercados | Anabela Domingues | Av. Inês de Castro, 414 | São Paulo | 05634-030 | Brazil
82 | Trail's Head Gourmet Provisioners | Helvetius Nagy | 722 DaVinci Blvd. | Kirkland | 98034 | USA
83 | Vaffeljernet | Palle Ibsen | Smagsløget 45 | Århus | 8200 | Denmark
84 | Victuailles en stock | Mary Saveley | 2, rue du Commerce | Lyon | 69004 | France
85 | Vins et alcools Chevalier | Paul Henriot | 59 rue de l'Abbaye | Reims | 51100 | France
86 | Die Wandernde Kuh | Rita Müller | Adenauerallee 900 | Stuttgart | 70563 | Germany
87 | Wartian Herkku | Pirkko Koskitalo | Torikatu 38 | Oulu | 90110 | Finland
88 | Wellington Importadora | Paula Parente | Rua do Mercado, 12 | Resende | 08737-363 | Brazil
89 | White Clover Markets | Karl Jablonski | 305 - 14th Ave. S. Suite 3B | Seattle | 98128 | USA
90 | Wilman Kala | Matti Karttunen | Keskuskatu 45 | Helsinki | 21240 | Finland
91 | Wolski | Zbyszek | ul. Filtrowa 68 | Walla | 01-012 | Poland

## SQL Intro

In [23]:
cursor.execute("select * from customers;")
rows = cursor.fetchall()

columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
1 | Alfreds Futterkiste | Maria Anders | Obere Str. 57 | Berlin | 12209 | Germany
2 | Ana Trujillo Emparedados y helados | Ana Trujillo | Avda. de la Constitución 2222 | México D.F. | 05021 | Mexico
3 | Antonio Moreno Taquería | Antonio Moreno | Mataderos 2312 | México D.F. | 05023 | Mexico
4 | Around the Horn | Thomas Hardy | 120 Hanover Sq. | London | WA1 1DP | UK
5 | Berglunds snabbköp | Christina Berglund | Berguvsvägen 8 | Luleå | S-958 22 | Sweden
6 | Blauer See Delikatessen | Hanna Moos | Forsterstr. 57 | Mannheim | 68306 | Germany
7 | Blondel père et fils | Frédérique Citeaux | 24, place Kléber | Strasbourg | 67000 | France
8 | Bólido Comidas preparadas | Martín Sommer | C/ Araquil, 67 | Madrid | 28023 | Spain
9 | Bon app' | Laurence Lebihans | 12, rue des Bouchers | Marseille | 13008 | France
10 | Bottom-Dollar Marketse | Elizabeth Lincoln | 23 Tsawassen Blvd. | Tsawassen | T2F 8M4 | Canada
11 | B's Beverages | Victoria Ashworth | Fauntleroy Circus | London | EC2 5NT | UK
12 | Cactus Comidas para llevar | Patricio Simpson | Cerrito 333 | Buenos Aires | 1010 | Argentina
13 | Centro comercial Moctezuma | Francisco Chang | Sierras de Granada 9993 | México D.F. | 05022 | Mexico
14 | Chop-suey Chinese | Yang Wang | Hauptstr. 29 | Bern | 3012 | Switzerland
15 | Comércio Mineiro | Pedro Afonso | Av. dos Lusíadas, 23 | São Paulo | 05432-043 | Brazil
16 | Consolidated Holdings | Elizabeth Brown | Berkeley Gardens 12 Brewery | London | WX1 6LT | UK
17 | Drachenblut Delikatessend | Sven Ottlieb | Walserweg 21 | Aachen | 52066 | Germany
18 | Du monde entier | Janine Labrune | 67, rue des Cinquante Otages | Nantes | 44000 | France
19 | Eastern Connection | Ann Devon | 35 King George | London | WX3 6FW | UK
20 | Ernst Handel | Roland Mendel | Kirchgasse 6 | Graz | 8010 | Austria
21 | Familia Arquibaldo | Aria Cruz | Rua Orós, 92 | São Paulo | 05442-030 | Brazil
22 | FISSA Fabrica Inter. Salchichas S.A. | Diego Roel | C/ Moralzarzal, 86 | Madrid | 28034 | Spain
23 | Folies gourmandes | Martine Rancé | 184, chaussée de Tournai | Lille | 59000 | France
24 | Folk och fä HB | Maria Larsson | Åkergatan 24 | Bräcke | S-844 67 | Sweden
25 | Frankenversand | Peter Franken | Berliner Platz 43 | München | 80805 | Germany
26 | France restauration | Carine Schmitt | 54, rue Royale | Nantes | 44000 | France
27 | Franchi S.p.A. | Paolo Accorti | Via Monte Bianco 34 | Torino | 10100 | Italy
28 | Furia Bacalhau e Frutos do Mar | Lino Rodriguez | Jardim das rosas n. 32 | Lisboa | 1675 | Portugal
29 | Galería del gastrónomo | Eduardo Saavedra | Rambla de Cataluña, 23 | Barcelona | 08022 | Spain
30 | Godos Cocina Típica | José Pedro Freyre | C/ Romero, 33 | Sevilla | 41101 | Spain
31 | Gourmet Lanchonetes | André Fonseca | Av. Brasil, 442 | Campinas | 04876-786 | Brazil
32 | Great Lakes Food Market | Howard Snyder | 2732 Baker Blvd. | Eugene | 97403 | USA
33 | GROSELLA-Restaurante | Manuel Pereira | 5ª Ave. Los Palos Grandes | Caracas | 1081 | Venezuela
34 | Hanari Carnes | Mario Pontes | Rua do Paço, 67 | Rio de Janeiro | 05454-876 | Brazil
35 | HILARIÓN-Abastos | Carlos Hernández | Carrera 22 con Ave. Carlos Soublette #8-35 | San Cristóbal | 5022 | Venezuela
36 | Hungry Coyote Import Store | Yoshi Latimer | City Center Plaza 516 Main St. | Elgin | 97827 | USA
37 | Hungry Owl All-Night Grocers | Patricia McKenna | 8 Johnstown Road | Cork |  | Ireland
38 | Island Trading | Helen Bennett | Garden House Crowther Way | Cowes | PO31 7PJ | UK
39 | Königlich Essen | Philip Cramer | Maubelstr. 90 | Brandenburg | 14776 | Germany
40 | La corne d'abondance | Daniel Tonini | 67, avenue de l'Europe | Versailles | 78000 | France
41 | La maison d'Asie | Annette Roulet | 1 rue Alsace-Lorraine | Toulouse | 31000 | France
42 | Laughing Bacchus Wine Cellars | Yoshi Tannamuri | 1900 Oak St. | Vancouver | V3F 2K1 | Canada
43 | Lazy K Kountry Store | John Steel | 12 Orchestra Terrace | Walla Walla | 99362 | USA
44 | Lehmanns Marktstand | Renate Messner | Magazinweg 7 | Frankfurt a.M. | 60528 | Germany
45 | Let's Stop N Shop | Jaime Yorres | 87 Polk St. Suite 5 | San Francisco | 94117 | USA
46 | LILA-Supermercado | Carlos González | Carrera 52 con Ave. Bolívar #65-98 Llano Largo | Barquisimeto | 3508 | Venezuela
47 | LINO-Delicateses | Felipe Izquierdo | Ave. 5 de Mayo Porlamar | I. de Margarita | 4980 | Venezuela
48 | Lonesome Pine Restaurant | Fran Wilson | 89 Chiaroscuro Rd. | Portland | 97219 | USA
49 | Magazzini Alimentari Riuniti | Giovanni Rovelli | Via Ludovico il Moro 22 | Bergamo | 24100 | Italy
50 | Maison Dewey | Catherine Dewey | Rue Joseph-Bens 532 | Bruxelles | B-1180 | Belgium
51 | Mère Paillarde | Jean Fresnière | 43 rue St. Laurent | Montréal | H1J 1C3 | Canada
52 | Morgenstern Gesundkost | Alexander Feuer | Heerstr. 22 | Leipzig | 04179 | Germany
53 | North/South | Simon Crowther | South House 300 Queensbridge | London | SW7 1RZ | UK
54 | Océano Atlántico Ltda. | Yvonne Moncada | Ing. Gustavo Moncada 8585 Piso 20-A | Buenos Aires | 1010 | Argentina
55 | Old World Delicatessen | Rene Phillips | 2743 Bering St. | Anchorage | 99508 | USA
56 | Ottilies Käseladen | Henriette Pfalzheim | Mehrheimerstr. 369 | Köln | 50739 | Germany
57 | Paris spécialités | Marie Bertrand | 265, boulevard Charonne | Paris | 75012 | France
58 | Pericles Comidas clásicas | Guillermo Fernández | Calle Dr. Jorge Cash 321 | México D.F. | 05033 | Mexico
59 | Piccolo und mehr | Georg Pipps | Geislweg 14 | Salzburg | 5020 | Austria
60 | Princesa Isabel Vinhoss | Isabel de Castro | Estrada da saúde n. 58 | Lisboa | 1756 | Portugal
61 | Que Delícia | Bernardo Batista | Rua da Panificadora, 12 | Rio de Janeiro | 02389-673 | Brazil
62 | Queen Cozinha | Lúcia Carvalho | Alameda dos Canàrios, 891 | São Paulo | 05487-020 | Brazil
63 | QUICK-Stop | Horst Kloss | Taucherstraße 10 | Cunewalde | 01307 | Germany
64 | Rancho grande | Sergio Gutiérrez | Av. del Libertador 900 | Buenos Aires | 1010 | Argentina
65 | Rattlesnake Canyon Grocery | Paula Wilson | 2817 Milton Dr. | Albuquerque | 87110 | USA
66 | Reggiani Caseifici | Maurizio Moroni | Strada Provinciale 124 | Reggio Emilia | 42100 | Italy
67 | Ricardo Adocicados | Janete Limeira | Av. Copacabana, 267 | Rio de Janeiro | 02389-890 | Brazil
68 | Richter Supermarkt | Michael Holz | Grenzacherweg 237 | Genève | 1203 | Switzerland
69 | Romero y tomillo | Alejandra Camino | Gran Vía, 1 | Madrid | 28001 | Spain
70 | Santé Gourmet | Jonas Bergulfsen | Erling Skakkes gate 78 | Stavern | 4110 | Norway
71 | Save-a-lot Markets | Jose Pavarotti | 187 Suffolk Ln. | Boise | 83720 | USA
72 | Seven Seas Imports | Hari Kumar | 90 Wadhurst Rd. | London | OX15 4NB | UK
73 | Simons bistro | Jytte Petersen | Vinbæltet 34 | København | 1734 | Denmark
74 | Spécialités du monde | Dominique Perrier | 25, rue Lauriston | Paris | 75016 | France
75 | Split Rail Beer & Ale | Art Braunschweiger | P.O. Box 555 | Lander | 82520 | USA
76 | Suprêmes délices | Pascale Cartrain | Boulevard Tirou, 255 | Charleroi | B-6000 | Belgium
77 | The Big Cheese | Liz Nixon | 89 Jefferson Way Suite 2 | Portland | 97201 | USA
78 | The Cracker Box | Liu Wong | 55 Grizzly Peak Rd. | Butte | 59801 | USA
79 | Toms Spezialitäten | Karin Josephs | Luisenstr. 48 | Münster | 44087 | Germany
80 | Tortuga Restaurante | Miguel Angel Paolino | Avda. Azteca 123 | México D.F. | 05033 | Mexico
81 | Tradição Hipermercados | Anabela Domingues | Av. Inês de Castro, 414 | São Paulo | 05634-030 | Brazil
82 | Trail's Head Gourmet Provisioners | Helvetius Nagy | 722 DaVinci Blvd. | Kirkland | 98034 | USA
83 | Vaffeljernet | Palle Ibsen | Smagsløget 45 | Århus | 8200 | Denmark
84 | Victuailles en stock | Mary Saveley | 2, rue du Commerce | Lyon | 69004 | France
85 | Vins et alcools Chevalier | Paul Henriot | 59 rue de l'Abbaye | Reims | 51100 | France
86 | Die Wandernde Kuh | Rita Müller | Adenauerallee 900 | Stuttgart | 70563 | Germany
87 | Wartian Herkku | Pirkko Koskitalo | Torikatu 38 | Oulu | 90110 | Finland
88 | Wellington Importadora | Paula Parente | Rua do Mercado, 12 | Resende | 08737-363 | Brazil
89 | White Clover Markets | Karl Jablonski | 305 - 14th Ave. S. Suite 3B | Seattle | 98128 | USA
90 | Wilman Kala | Matti Karttunen | Keskuskatu 45 | Helsinki | 21240 | Finland
91 | Wolski | Zbyszek | ul. Filtrowa 68 | Walla | 01-012 | Poland

## SQL Syntax

In [22]:
cursor.execute("select * from customers;")
rows = cursor.fetchall()

columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
1 | Alfreds Futterkiste | Maria Anders | Obere Str. 57 | Berlin | 12209 | Germany
2 | Ana Trujillo Emparedados y helados | Ana Trujillo | Avda. de la Constitución 2222 | México D.F. | 05021 | Mexico
3 | Antonio Moreno Taquería | Antonio Moreno | Mataderos 2312 | México D.F. | 05023 | Mexico
4 | Around the Horn | Thomas Hardy | 120 Hanover Sq. | London | WA1 1DP | UK
5 | Berglunds snabbköp | Christina Berglund | Berguvsvägen 8 | Luleå | S-958 22 | Sweden
6 | Blauer See Delikatessen | Hanna Moos | Forsterstr. 57 | Mannheim | 68306 | Germany
7 | Blondel père et fils | Frédérique Citeaux | 24, place Kléber | Strasbourg | 67000 | France
8 | Bólido Comidas preparadas | Martín Sommer | C/ Araquil, 67 | Madrid | 28023 | Spain
9 | Bon app' | Laurence Lebihans | 12, rue des Bouchers | Marseille | 13008 | France
10 | Bottom-Dollar Marketse | Elizabeth Lincoln | 23 Tsawassen Blvd. | Tsawassen | T2F 8M4 | Canada
11 | B's Beverages | Victoria Ashworth | Fauntleroy Circus | London | EC2 5NT | UK
12 | Cactus Comidas para llevar | Patricio Simpson | Cerrito 333 | Buenos Aires | 1010 | Argentina
13 | Centro comercial Moctezuma | Francisco Chang | Sierras de Granada 9993 | México D.F. | 05022 | Mexico
14 | Chop-suey Chinese | Yang Wang | Hauptstr. 29 | Bern | 3012 | Switzerland
15 | Comércio Mineiro | Pedro Afonso | Av. dos Lusíadas, 23 | São Paulo | 05432-043 | Brazil
16 | Consolidated Holdings | Elizabeth Brown | Berkeley Gardens 12 Brewery | London | WX1 6LT | UK
17 | Drachenblut Delikatessend | Sven Ottlieb | Walserweg 21 | Aachen | 52066 | Germany
18 | Du monde entier | Janine Labrune | 67, rue des Cinquante Otages | Nantes | 44000 | France
19 | Eastern Connection | Ann Devon | 35 King George | London | WX3 6FW | UK
20 | Ernst Handel | Roland Mendel | Kirchgasse 6 | Graz | 8010 | Austria
21 | Familia Arquibaldo | Aria Cruz | Rua Orós, 92 | São Paulo | 05442-030 | Brazil
22 | FISSA Fabrica Inter. Salchichas S.A. | Diego Roel | C/ Moralzarzal, 86 | Madrid | 28034 | Spain
23 | Folies gourmandes | Martine Rancé | 184, chaussée de Tournai | Lille | 59000 | France
24 | Folk och fä HB | Maria Larsson | Åkergatan 24 | Bräcke | S-844 67 | Sweden
25 | Frankenversand | Peter Franken | Berliner Platz 43 | München | 80805 | Germany
26 | France restauration | Carine Schmitt | 54, rue Royale | Nantes | 44000 | France
27 | Franchi S.p.A. | Paolo Accorti | Via Monte Bianco 34 | Torino | 10100 | Italy
28 | Furia Bacalhau e Frutos do Mar | Lino Rodriguez | Jardim das rosas n. 32 | Lisboa | 1675 | Portugal
29 | Galería del gastrónomo | Eduardo Saavedra | Rambla de Cataluña, 23 | Barcelona | 08022 | Spain
30 | Godos Cocina Típica | José Pedro Freyre | C/ Romero, 33 | Sevilla | 41101 | Spain
31 | Gourmet Lanchonetes | André Fonseca | Av. Brasil, 442 | Campinas | 04876-786 | Brazil
32 | Great Lakes Food Market | Howard Snyder | 2732 Baker Blvd. | Eugene | 97403 | USA
33 | GROSELLA-Restaurante | Manuel Pereira | 5ª Ave. Los Palos Grandes | Caracas | 1081 | Venezuela
34 | Hanari Carnes | Mario Pontes | Rua do Paço, 67 | Rio de Janeiro | 05454-876 | Brazil
35 | HILARIÓN-Abastos | Carlos Hernández | Carrera 22 con Ave. Carlos Soublette #8-35 | San Cristóbal | 5022 | Venezuela
36 | Hungry Coyote Import Store | Yoshi Latimer | City Center Plaza 516 Main St. | Elgin | 97827 | USA
37 | Hungry Owl All-Night Grocers | Patricia McKenna | 8 Johnstown Road | Cork |  | Ireland
38 | Island Trading | Helen Bennett | Garden House Crowther Way | Cowes | PO31 7PJ | UK
39 | Königlich Essen | Philip Cramer | Maubelstr. 90 | Brandenburg | 14776 | Germany
40 | La corne d'abondance | Daniel Tonini | 67, avenue de l'Europe | Versailles | 78000 | France
41 | La maison d'Asie | Annette Roulet | 1 rue Alsace-Lorraine | Toulouse | 31000 | France
42 | Laughing Bacchus Wine Cellars | Yoshi Tannamuri | 1900 Oak St. | Vancouver | V3F 2K1 | Canada
43 | Lazy K Kountry Store | John Steel | 12 Orchestra Terrace | Walla Walla | 99362 | USA
44 | Lehmanns Marktstand | Renate Messner | Magazinweg 7 | Frankfurt a.M. | 60528 | Germany
45 | Let's Stop N Shop | Jaime Yorres | 87 Polk St. Suite 5 | San Francisco | 94117 | USA
46 | LILA-Supermercado | Carlos González | Carrera 52 con Ave. Bolívar #65-98 Llano Largo | Barquisimeto | 3508 | Venezuela
47 | LINO-Delicateses | Felipe Izquierdo | Ave. 5 de Mayo Porlamar | I. de Margarita | 4980 | Venezuela
48 | Lonesome Pine Restaurant | Fran Wilson | 89 Chiaroscuro Rd. | Portland | 97219 | USA
49 | Magazzini Alimentari Riuniti | Giovanni Rovelli | Via Ludovico il Moro 22 | Bergamo | 24100 | Italy
50 | Maison Dewey | Catherine Dewey | Rue Joseph-Bens 532 | Bruxelles | B-1180 | Belgium
51 | Mère Paillarde | Jean Fresnière | 43 rue St. Laurent | Montréal | H1J 1C3 | Canada
52 | Morgenstern Gesundkost | Alexander Feuer | Heerstr. 22 | Leipzig | 04179 | Germany
53 | North/South | Simon Crowther | South House 300 Queensbridge | London | SW7 1RZ | UK
54 | Océano Atlántico Ltda. | Yvonne Moncada | Ing. Gustavo Moncada 8585 Piso 20-A | Buenos Aires | 1010 | Argentina
55 | Old World Delicatessen | Rene Phillips | 2743 Bering St. | Anchorage | 99508 | USA
56 | Ottilies Käseladen | Henriette Pfalzheim | Mehrheimerstr. 369 | Köln | 50739 | Germany
57 | Paris spécialités | Marie Bertrand | 265, boulevard Charonne | Paris | 75012 | France
58 | Pericles Comidas clásicas | Guillermo Fernández | Calle Dr. Jorge Cash 321 | México D.F. | 05033 | Mexico
59 | Piccolo und mehr | Georg Pipps | Geislweg 14 | Salzburg | 5020 | Austria
60 | Princesa Isabel Vinhoss | Isabel de Castro | Estrada da saúde n. 58 | Lisboa | 1756 | Portugal
61 | Que Delícia | Bernardo Batista | Rua da Panificadora, 12 | Rio de Janeiro | 02389-673 | Brazil
62 | Queen Cozinha | Lúcia Carvalho | Alameda dos Canàrios, 891 | São Paulo | 05487-020 | Brazil
63 | QUICK-Stop | Horst Kloss | Taucherstraße 10 | Cunewalde | 01307 | Germany
64 | Rancho grande | Sergio Gutiérrez | Av. del Libertador 900 | Buenos Aires | 1010 | Argentina
65 | Rattlesnake Canyon Grocery | Paula Wilson | 2817 Milton Dr. | Albuquerque | 87110 | USA
66 | Reggiani Caseifici | Maurizio Moroni | Strada Provinciale 124 | Reggio Emilia | 42100 | Italy
67 | Ricardo Adocicados | Janete Limeira | Av. Copacabana, 267 | Rio de Janeiro | 02389-890 | Brazil
68 | Richter Supermarkt | Michael Holz | Grenzacherweg 237 | Genève | 1203 | Switzerland
69 | Romero y tomillo | Alejandra Camino | Gran Vía, 1 | Madrid | 28001 | Spain
70 | Santé Gourmet | Jonas Bergulfsen | Erling Skakkes gate 78 | Stavern | 4110 | Norway
71 | Save-a-lot Markets | Jose Pavarotti | 187 Suffolk Ln. | Boise | 83720 | USA
72 | Seven Seas Imports | Hari Kumar | 90 Wadhurst Rd. | London | OX15 4NB | UK
73 | Simons bistro | Jytte Petersen | Vinbæltet 34 | København | 1734 | Denmark
74 | Spécialités du monde | Dominique Perrier | 25, rue Lauriston | Paris | 75016 | France
75 | Split Rail Beer & Ale | Art Braunschweiger | P.O. Box 555 | Lander | 82520 | USA
76 | Suprêmes délices | Pascale Cartrain | Boulevard Tirou, 255 | Charleroi | B-6000 | Belgium
77 | The Big Cheese | Liz Nixon | 89 Jefferson Way Suite 2 | Portland | 97201 | USA
78 | The Cracker Box | Liu Wong | 55 Grizzly Peak Rd. | Butte | 59801 | USA
79 | Toms Spezialitäten | Karin Josephs | Luisenstr. 48 | Münster | 44087 | Germany
80 | Tortuga Restaurante | Miguel Angel Paolino | Avda. Azteca 123 | México D.F. | 05033 | Mexico
81 | Tradição Hipermercados | Anabela Domingues | Av. Inês de Castro, 414 | São Paulo | 05634-030 | Brazil
82 | Trail's Head Gourmet Provisioners | Helvetius Nagy | 722 DaVinci Blvd. | Kirkland | 98034 | USA
83 | Vaffeljernet | Palle Ibsen | Smagsløget 45 | Århus | 8200 | Denmark
84 | Victuailles en stock | Mary Saveley | 2, rue du Commerce | Lyon | 69004 | France
85 | Vins et alcools Chevalier | Paul Henriot | 59 rue de l'Abbaye | Reims | 51100 | France
86 | Die Wandernde Kuh | Rita Müller | Adenauerallee 900 | Stuttgart | 70563 | Germany
87 | Wartian Herkku | Pirkko Koskitalo | Torikatu 38 | Oulu | 90110 | Finland
88 | Wellington Importadora | Paula Parente | Rua do Mercado, 12 | Resende | 08737-363 | Brazil
89 | White Clover Markets | Karl Jablonski | 305 - 14th Ave. S. Suite 3B | Seattle | 98128 | USA
90 | Wilman Kala | Matti Karttunen | Keskuskatu 45 | Helsinki | 21240 | Finland
91 | Wolski | Zbyszek | ul. Filtrowa 68 | Walla | 01-012 | Poland

## SQL Select

In [21]:
cursor.execute("SELECT CustomerName, City FROM customers;")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerName | City
----------------------------------------
Alfreds Futterkiste | Berlin
Ana Trujillo Emparedados y helados | México D.F.
Antonio Moreno Taquería | México D.F.
Around the Horn | London
Berglunds snabbköp | Luleå
Blauer See Delikatessen | Mannheim
Blondel père et fils | Strasbourg
Bólido Comidas preparadas | Madrid
Bon app' | Marseille
Bottom-Dollar Marketse | Tsawassen
B's Beverages | London
Cactus Comidas para llevar | Buenos Aires
Centro comercial Moctezuma | México D.F.
Chop-suey Chinese | Bern
Comércio Mineiro | São Paulo
Consolidated Holdings | London
Drachenblut Delikatessend | Aachen
Du monde entier | Nantes
Eastern Connection | London
Ernst Handel | Graz
Familia Arquibaldo | São Paulo
FISSA Fabrica Inter. Salchichas S.A. | Madrid
Folies gourmandes | Lille
Folk och fä HB | Bräcke
Frankenversand | München
France restauration | Nantes
Franchi S.p.A. | Torino
Furia Bacalhau e Frutos do Mar | Lisboa
Galería del gastrónomo | Barcelona
Godos Cocina Típica | Sevilla
Gourmet Lanchonetes | Campinas
Great Lakes Food Market | Eugene
GROSELLA-Restaurante | Caracas
Hanari Carnes | Rio de Janeiro
HILARIÓN-Abastos | San Cristóbal
Hungry Coyote Import Store | Elgin
Hungry Owl All-Night Grocers | Cork
Island Trading | Cowes
Königlich Essen | Brandenburg
La corne d'abondance | Versailles
La maison d'Asie | Toulouse
Laughing Bacchus Wine Cellars | Vancouver
Lazy K Kountry Store | Walla Walla
Lehmanns Marktstand | Frankfurt a.M.
Let's Stop N Shop | San Francisco
LILA-Supermercado | Barquisimeto
LINO-Delicateses | I. de Margarita
Lonesome Pine Restaurant | Portland
Magazzini Alimentari Riuniti | Bergamo
Maison Dewey | Bruxelles
Mère Paillarde | Montréal
Morgenstern Gesundkost | Leipzig
North/South | London
Océano Atlántico Ltda. | Buenos Aires
Old World Delicatessen | Anchorage
Ottilies Käseladen | Köln
Paris spécialités | Paris
Pericles Comidas clásicas | México D.F.
Piccolo und mehr | Salzburg
Princesa Isabel Vinhoss | Lisboa
Que Delícia | Rio de Janeiro
Queen Cozinha | São Paulo
QUICK-Stop | Cunewalde
Rancho grande | Buenos Aires
Rattlesnake Canyon Grocery | Albuquerque
Reggiani Caseifici | Reggio Emilia
Ricardo Adocicados | Rio de Janeiro
Richter Supermarkt | Genève
Romero y tomillo | Madrid
Santé Gourmet | Stavern
Save-a-lot Markets | Boise
Seven Seas Imports | London
Simons bistro | København
Spécialités du monde | Paris
Split Rail Beer & Ale | Lander
Suprêmes délices | Charleroi
The Big Cheese | Portland
The Cracker Box | Butte
Toms Spezialitäten | Münster
Tortuga Restaurante | México D.F.
Tradição Hipermercados | São Paulo
Trail's Head Gourmet Provisioners | Kirkland
Vaffeljernet | Århus
Victuailles en stock | Lyon
Vins et alcools Chevalier | Reims
Die Wandernde Kuh | Stuttgart
Wartian Herkku | Oulu
Wellington Importadora | Resende
White Clover Markets | Seattle
Wilman Kala | Helsinki
Wolski | Walla

## SQL Select Distinct

### Distinct

In [25]:
cursor.execute("select distinct country from customers;")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

Country
----------------------------------------
Germany
Mexico
UK
Sweden
France
Spain
Canada
Argentina
Switzerland
Brazil
Austria
Italy
Portugal
USA
Venezuela
Ireland
Belgium
Norway
Denmark
Finland
Poland

### Without Disninct

In [26]:
cursor.execute("select country from customers;")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

Country
----------------------------------------
Germany
Mexico
Mexico
UK
Sweden
Germany
France
Spain
France
Canada
UK
Argentina
Mexico
Switzerland
Brazil
UK
Germany
France
UK
Austria
Brazil
Spain
France
Sweden
Germany
France
Italy
Portugal
Spain
Spain
Brazil
USA
Venezuela
Brazil
Venezuela
USA
Ireland
UK
Germany
France
France
Canada
USA
Germany
USA
Venezuela
Venezuela
USA
Italy
Belgium
Canada
Germany
UK
Argentina
USA
Germany
France
Mexico
Austria
Portugal
Brazil
Brazil
Germany
Argentina
USA
Italy
Brazil
Switzerland
Spain
Norway
USA
UK
Denmark
France
USA
Belgium
USA
USA
Germany
Mexico
Brazil
USA
Denmark
France
France
Germany
Finland
Brazil
USA
Finland
Poland

### Count Distinct

In [27]:
cursor.execute("select count(distinct country) from customers;")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

count(distinct country)
----------------------------------------
21

In [28]:
cursor.execute("SELECT Count(*) AS DistinctCountries FROM (SELECT DISTINCT Country FROM Customers);")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

DistinctCountries
----------------------------------------
21

## SQL Where

### The SQL WHErE Clause

In [29]:
cursor.execute("SELECT * FROM Customers WHERE Country='Mexico';")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
2 | Ana Trujillo Emparedados y helados | Ana Trujillo | Avda. de la Constitución 2222 | México D.F. | 05021 | Mexico
3 | Antonio Moreno Taquería | Antonio Moreno | Mataderos 2312 | México D.F. | 05023 | Mexico
13 | Centro comercial Moctezuma | Francisco Chang | Sierras de Granada 9993 | México D.F. | 05022 | Mexico
58 | Pericles Comidas clásicas | Guillermo Fernández | Calle Dr. Jorge Cash 321 | México D.F. | 05033 | Mexico
80 | Tortuga Restaurante | Miguel Angel Paolino | Avda. Azteca 123 | México D.F. | 05033 | Mexico

### Text Fields vs. Numeric Fields

In [30]:
cursor.execute("SELECT * FROM Customers WHERE CustomerID=1;")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
1 | Alfreds Futterkiste | Maria Anders | Obere Str. 57 | Berlin | 12209 | Germany

### Operators in The WHERE Clause

In [31]:
cursor.execute("SELECT * FROM Customers WHERE CustomerID > 80;")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
81 | Tradição Hipermercados | Anabela Domingues | Av. Inês de Castro, 414 | São Paulo | 05634-030 | Brazil
82 | Trail's Head Gourmet Provisioners | Helvetius Nagy | 722 DaVinci Blvd. | Kirkland | 98034 | USA
83 | Vaffeljernet | Palle Ibsen | Smagsløget 45 | Århus | 8200 | Denmark
84 | Victuailles en stock | Mary Saveley | 2, rue du Commerce | Lyon | 69004 | France
85 | Vins et alcools Chevalier | Paul Henriot | 59 rue de l'Abbaye | Reims | 51100 | France
86 | Die Wandernde Kuh | Rita Müller | Adenauerallee 900 | Stuttgart | 70563 | Germany
87 | Wartian Herkku | Pirkko Koskitalo | Torikatu 38 | Oulu | 90110 | Finland
88 | Wellington Importadora | Paula Parente | Rua do Mercado, 12 | Resende | 08737-363 | Brazil
89 | White Clover Markets | Karl Jablonski | 305 - 14th Ave. S. Suite 3B | Seattle | 98128 | USA
90 | Wilman Kala | Matti Karttunen | Keskuskatu 45 | Helsinki | 21240 | Finland
91 | Wolski | Zbyszek | ul. Filtrowa 68 | Walla | 01-012 | Poland

## SQL Order By

### The SQL ORDER BY

In [32]:
cursor.execute("SELECT * FROM Products ORDER BY Price;")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

ProductID | ProductName | SupplierID | CategoryID | Unit | Price
----------------------------------------
33 | Geitost | 15 | 4 | 500 g | 2.5
24 | Guaraná Fantástica | 10 | 1 | 12 - 355 ml cans | 4.5
13 | Konbu | 6 | 8 | 2 kg box | 6
52 | Filo Mix | 24 | 5 | 16 - 2 kg boxes | 7
54 | Tourtière | 25 | 6 | 16 pies | 7.45
75 | Rhönbräu Klosterbier | 12 | 1 | 24 - 0.5 l bottles | 7.75
23 | Tunnbröd | 9 | 5 | 12 - 250 g pkgs. | 9
19 | Teatime Chocolate Biscuits | 8 | 3 | 10 boxes x 12 pieces | 9.2
45 | Røgede sild | 21 | 8 | 1k pkg. | 9.5
47 | Zaanse koeken | 22 | 3 | 10 - 4 oz boxes | 9.5
41 | Jack's New England Clam Chowder | 19 | 8 | 12 - 12 oz cans | 9.65
3 | Aniseed Syrup | 1 | 2 | 12 - 550 ml bottles | 10
21 | Sir Rodney's Scones | 8 | 3 | 24 pkgs. x 4 pieces | 10
74 | Longlife Tofu | 4 | 7 | 5 kg pkg. | 10
46 | Spegesild | 21 | 8 | 4 - 450 g glasses | 12
31 | Gorgonzola Telino | 14 | 4 | 12 - 100 g pkgs | 12.5
68 | Scottish Longbreads | 8 | 3 | 10 boxes x 8 pieces | 12.5
48 | Chocolade | 22 | 3 | 10 pkgs. | 12.75
77 | Original Frankfurter grüne Soße | 12 | 2 | 12 boxes | 13
58 | Escargots de Bourgogne | 27 | 8 | 24 pieces | 13.25
25 | NuNuCa Nuß-Nougat-Creme | 11 | 3 | 20 - 450 g glasses | 14
34 | Sasquatch Ale | 16 | 1 | 24 - 12 oz bottles | 14
42 | Singaporean Hokkien Fried Mee | 20 | 5 | 32 - 1 kg pkgs. | 14
67 | Laughing Lumberjack Lager | 16 | 1 | 24 - 12 oz bottles | 14
70 | Outback Lager | 7 | 1 | 24 - 355 ml bottles | 15
73 | Röd Kaviar | 17 | 8 | 24 - 150 g jars | 15
15 | Genen Shouyu | 6 | 2 | 24 - 250 ml bottles | 15.5
50 | Valkoinen suklaa | 23 | 3 | 12 - 100 g bars | 16.25
66 | Louisiana Hot Spiced Okra | 2 | 2 | 24 - 8 oz jars | 17
16 | Pavlova | 7 | 3 | 32 - 500 g boxes | 17.45
1 | Chais | 1 | 1 | 10 boxes x 20 bags | 18
35 | Steeleye Stout | 16 | 1 | 24 - 12 oz bottles | 18
39 | Chartreuse verte | 18 | 1 | 750 cc per bottle | 18
76 | Lakkalikööri | 23 | 1 | 500 ml | 18
40 | Boston Crab Meat | 19 | 8 | 24 - 4 oz tins | 18.4
2 | Chang | 1 | 1 | 24 - 12 oz bottles | 19
36 | Inlagd Sill | 17 | 8 | 24 - 250 g jars | 19
44 | Gula Malacca | 20 | 2 | 20 - 2 kg bags | 19.45
57 | Ravioli Angelo | 26 | 5 | 24 - 250 g pkgs. | 19.5
49 | Maxilaku | 23 | 3 | 24 - 50 g pkgs. | 20
11 | Queso Cabrales | 5 | 4 | 1 kg pkg. | 21
22 | Gustaf's Knäckebröd | 9 | 5 | 24 - 500 g pkgs. | 21
65 | Louisiana Fiery Hot Pepper Sauce | 2 | 2 | 32 - 8 oz bottles | 21.05
5 | Chef Anton's Gumbo Mix | 2 | 2 | 36 boxes | 21.35
71 | Fløtemysost | 15 | 4 | 10 - 500 g pkgs. | 21.5
4 | Chef Anton's Cajun Seasoning | 2 | 2 | 48 - 6 oz jars | 22
14 | Tofu | 6 | 7 | 40 - 100 g pkgs. | 23.25
55 | Pâté chinois | 25 | 6 | 24 boxes x 2 pies | 24
6 | Grandma's Boysenberry Spread | 3 | 2 | 12 - 8 oz jars | 25
30 | Nord-Ost Matjeshering | 13 | 8 | 10 - 200 g glasses | 25.89
37 | Gravad lax | 17 | 8 | 12 - 500 g pkgs. | 26
61 | Sirop d'érable | 29 | 2 | 24 - 500 ml bottles | 28.5
7 | Uncle Bob's Organic Dried Pears | 3 | 7 | 12 - 1 lb pkgs. | 30
10 | Ikura | 4 | 8 | 12 - 200 ml jars | 31
26 | Gumbär Gummibärchen | 11 | 3 | 100 - 250 g bags | 31.23
32 | Mascarpone Fabioli | 14 | 4 | 24 - 200 g pkgs. | 32
53 | Perth Pasties | 24 | 6 | 48 pieces | 32.8
64 | Wimmers gute Semmelknödel | 12 | 5 | 20 bags x 4 pieces | 33.25
60 | Camembert Pierrot | 28 | 4 | 15 - 300 g rounds | 34
72 | Mozzarella di Giovanni | 14 | 4 | 24 - 200 g pkgs. | 34.8
69 | Gudbrandsdalsost | 15 | 4 | 10 kg pkg. | 36
12 | Queso Manchego La Pastora | 5 | 4 | 10 - 500 g pkgs. | 38
56 | Gnocchi di nonna Alice | 26 | 5 | 24 - 250 g pkgs. | 38
17 | Alice Mutton | 7 | 6 | 20 - 1 kg tins | 39
8 | Northwoods Cranberry Sauce | 3 | 2 | 12 - 12 oz jars | 40
27 | Schoggi Schokolade | 11 | 3 | 100 - 100 g pieces | 43.9
63 | Vegie-spread | 7 | 2 | 15 - 625 g jars | 43.9
28 | Rössle Sauerkraut | 12 | 7 | 25 - 825 g cans | 45.6
43 | Ipoh Coffee | 20 | 1 | 16 - 500 g tins | 46
62 | Tarte au sucre | 29 | 3 | 48 pies | 49.3
51 | Manjimup Dried Apples | 24 | 7 | 50 - 300 g pkgs. | 53
59 | Raclette Courdavault | 28 | 4 | 5 kg pkg. | 55
18 | Carnarvon Tigers | 7 | 8 | 16 kg pkg. | 62.5
20 | Sir Rodney's Marmalade | 8 | 3 | 30 gift boxes | 81
9 | Mishi Kobe Niku | 4 | 6 | 18 - 500 g pkgs. | 97
29 | Thüringer Rostbratwurst | 12 | 6 | 50 bags x 30 sausgs. | 123.79
38 | Côte de Blaye | 18 | 1 | 12 - 75 cl bottles | 263.5

### DESC

In [33]:
cursor.execute("SELECT * FROM Products ORDER BY Price DESC;")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

ProductID | ProductName | SupplierID | CategoryID | Unit | Price
----------------------------------------
38 | Côte de Blaye | 18 | 1 | 12 - 75 cl bottles | 263.5
29 | Thüringer Rostbratwurst | 12 | 6 | 50 bags x 30 sausgs. | 123.79
9 | Mishi Kobe Niku | 4 | 6 | 18 - 500 g pkgs. | 97
20 | Sir Rodney's Marmalade | 8 | 3 | 30 gift boxes | 81
18 | Carnarvon Tigers | 7 | 8 | 16 kg pkg. | 62.5
59 | Raclette Courdavault | 28 | 4 | 5 kg pkg. | 55
51 | Manjimup Dried Apples | 24 | 7 | 50 - 300 g pkgs. | 53
62 | Tarte au sucre | 29 | 3 | 48 pies | 49.3
43 | Ipoh Coffee | 20 | 1 | 16 - 500 g tins | 46
28 | Rössle Sauerkraut | 12 | 7 | 25 - 825 g cans | 45.6
27 | Schoggi Schokolade | 11 | 3 | 100 - 100 g pieces | 43.9
63 | Vegie-spread | 7 | 2 | 15 - 625 g jars | 43.9
8 | Northwoods Cranberry Sauce | 3 | 2 | 12 - 12 oz jars | 40
17 | Alice Mutton | 7 | 6 | 20 - 1 kg tins | 39
12 | Queso Manchego La Pastora | 5 | 4 | 10 - 500 g pkgs. | 38
56 | Gnocchi di nonna Alice | 26 | 5 | 24 - 250 g pkgs. | 38
69 | Gudbrandsdalsost | 15 | 4 | 10 kg pkg. | 36
72 | Mozzarella di Giovanni | 14 | 4 | 24 - 200 g pkgs. | 34.8
60 | Camembert Pierrot | 28 | 4 | 15 - 300 g rounds | 34
64 | Wimmers gute Semmelknödel | 12 | 5 | 20 bags x 4 pieces | 33.25
53 | Perth Pasties | 24 | 6 | 48 pieces | 32.8
32 | Mascarpone Fabioli | 14 | 4 | 24 - 200 g pkgs. | 32
26 | Gumbär Gummibärchen | 11 | 3 | 100 - 250 g bags | 31.23
10 | Ikura | 4 | 8 | 12 - 200 ml jars | 31
7 | Uncle Bob's Organic Dried Pears | 3 | 7 | 12 - 1 lb pkgs. | 30
61 | Sirop d'érable | 29 | 2 | 24 - 500 ml bottles | 28.5
37 | Gravad lax | 17 | 8 | 12 - 500 g pkgs. | 26
30 | Nord-Ost Matjeshering | 13 | 8 | 10 - 200 g glasses | 25.89
6 | Grandma's Boysenberry Spread | 3 | 2 | 12 - 8 oz jars | 25
55 | Pâté chinois | 25 | 6 | 24 boxes x 2 pies | 24
14 | Tofu | 6 | 7 | 40 - 100 g pkgs. | 23.25
4 | Chef Anton's Cajun Seasoning | 2 | 2 | 48 - 6 oz jars | 22
71 | Fløtemysost | 15 | 4 | 10 - 500 g pkgs. | 21.5
5 | Chef Anton's Gumbo Mix | 2 | 2 | 36 boxes | 21.35
65 | Louisiana Fiery Hot Pepper Sauce | 2 | 2 | 32 - 8 oz bottles | 21.05
11 | Queso Cabrales | 5 | 4 | 1 kg pkg. | 21
22 | Gustaf's Knäckebröd | 9 | 5 | 24 - 500 g pkgs. | 21
49 | Maxilaku | 23 | 3 | 24 - 50 g pkgs. | 20
57 | Ravioli Angelo | 26 | 5 | 24 - 250 g pkgs. | 19.5
44 | Gula Malacca | 20 | 2 | 20 - 2 kg bags | 19.45
2 | Chang | 1 | 1 | 24 - 12 oz bottles | 19
36 | Inlagd Sill | 17 | 8 | 24 - 250 g jars | 19
40 | Boston Crab Meat | 19 | 8 | 24 - 4 oz tins | 18.4
1 | Chais | 1 | 1 | 10 boxes x 20 bags | 18
35 | Steeleye Stout | 16 | 1 | 24 - 12 oz bottles | 18
39 | Chartreuse verte | 18 | 1 | 750 cc per bottle | 18
76 | Lakkalikööri | 23 | 1 | 500 ml | 18
16 | Pavlova | 7 | 3 | 32 - 500 g boxes | 17.45
66 | Louisiana Hot Spiced Okra | 2 | 2 | 24 - 8 oz jars | 17
50 | Valkoinen suklaa | 23 | 3 | 12 - 100 g bars | 16.25
15 | Genen Shouyu | 6 | 2 | 24 - 250 ml bottles | 15.5
70 | Outback Lager | 7 | 1 | 24 - 355 ml bottles | 15
73 | Röd Kaviar | 17 | 8 | 24 - 150 g jars | 15
25 | NuNuCa Nuß-Nougat-Creme | 11 | 3 | 20 - 450 g glasses | 14
34 | Sasquatch Ale | 16 | 1 | 24 - 12 oz bottles | 14
42 | Singaporean Hokkien Fried Mee | 20 | 5 | 32 - 1 kg pkgs. | 14
67 | Laughing Lumberjack Lager | 16 | 1 | 24 - 12 oz bottles | 14
58 | Escargots de Bourgogne | 27 | 8 | 24 pieces | 13.25
77 | Original Frankfurter grüne Soße | 12 | 2 | 12 boxes | 13
48 | Chocolade | 22 | 3 | 10 pkgs. | 12.75
31 | Gorgonzola Telino | 14 | 4 | 12 - 100 g pkgs | 12.5
68 | Scottish Longbreads | 8 | 3 | 10 boxes x 8 pieces | 12.5
46 | Spegesild | 21 | 8 | 4 - 450 g glasses | 12
3 | Aniseed Syrup | 1 | 2 | 12 - 550 ml bottles | 10
21 | Sir Rodney's Scones | 8 | 3 | 24 pkgs. x 4 pieces | 10
74 | Longlife Tofu | 4 | 7 | 5 kg pkg. | 10
41 | Jack's New England Clam Chowder | 19 | 8 | 12 - 12 oz cans | 9.65
45 | Røgede sild | 21 | 8 | 1k pkg. | 9.5
47 | Zaanse koeken | 22 | 3 | 10 - 4 oz boxes | 9.5
19 | Teatime Chocolate Biscuits | 8 | 3 | 10 boxes x 12 pieces | 9.2
23 | Tunnbröd | 9 | 5 | 12 - 250 g pkgs. | 9
75 | Rhönbräu Klosterbier | 12 | 1 | 24 - 0.5 l bottles | 7.75
54 | Tourtière | 25 | 6 | 16 pies | 7.45
52 | Filo Mix | 24 | 5 | 16 - 2 kg boxes | 7
13 | Konbu | 6 | 8 | 2 kg box | 6
24 | Guaraná Fantástica | 10 | 1 | 12 - 355 ml cans | 4.5
33 | Geitost | 15 | 4 | 500 g | 2.5

### Order Alphabetically

In [34]:
cursor.execute("SELECT * FROM Products ORDER BY productname;")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

ProductID | ProductName | SupplierID | CategoryID | Unit | Price
----------------------------------------
17 | Alice Mutton | 7 | 6 | 20 - 1 kg tins | 39
3 | Aniseed Syrup | 1 | 2 | 12 - 550 ml bottles | 10
40 | Boston Crab Meat | 19 | 8 | 24 - 4 oz tins | 18.4
60 | Camembert Pierrot | 28 | 4 | 15 - 300 g rounds | 34
18 | Carnarvon Tigers | 7 | 8 | 16 kg pkg. | 62.5
1 | Chais | 1 | 1 | 10 boxes x 20 bags | 18
2 | Chang | 1 | 1 | 24 - 12 oz bottles | 19
39 | Chartreuse verte | 18 | 1 | 750 cc per bottle | 18
4 | Chef Anton's Cajun Seasoning | 2 | 2 | 48 - 6 oz jars | 22
5 | Chef Anton's Gumbo Mix | 2 | 2 | 36 boxes | 21.35
48 | Chocolade | 22 | 3 | 10 pkgs. | 12.75
38 | Côte de Blaye | 18 | 1 | 12 - 75 cl bottles | 263.5
58 | Escargots de Bourgogne | 27 | 8 | 24 pieces | 13.25
52 | Filo Mix | 24 | 5 | 16 - 2 kg boxes | 7
71 | Fløtemysost | 15 | 4 | 10 - 500 g pkgs. | 21.5
33 | Geitost | 15 | 4 | 500 g | 2.5
15 | Genen Shouyu | 6 | 2 | 24 - 250 ml bottles | 15.5
56 | Gnocchi di nonna Alice | 26 | 5 | 24 - 250 g pkgs. | 38
31 | Gorgonzola Telino | 14 | 4 | 12 - 100 g pkgs | 12.5
6 | Grandma's Boysenberry Spread | 3 | 2 | 12 - 8 oz jars | 25
37 | Gravad lax | 17 | 8 | 12 - 500 g pkgs. | 26
24 | Guaraná Fantástica | 10 | 1 | 12 - 355 ml cans | 4.5
69 | Gudbrandsdalsost | 15 | 4 | 10 kg pkg. | 36
44 | Gula Malacca | 20 | 2 | 20 - 2 kg bags | 19.45
26 | Gumbär Gummibärchen | 11 | 3 | 100 - 250 g bags | 31.23
22 | Gustaf's Knäckebröd | 9 | 5 | 24 - 500 g pkgs. | 21
10 | Ikura | 4 | 8 | 12 - 200 ml jars | 31
36 | Inlagd Sill | 17 | 8 | 24 - 250 g jars | 19
43 | Ipoh Coffee | 20 | 1 | 16 - 500 g tins | 46
41 | Jack's New England Clam Chowder | 19 | 8 | 12 - 12 oz cans | 9.65
13 | Konbu | 6 | 8 | 2 kg box | 6
76 | Lakkalikööri | 23 | 1 | 500 ml | 18
67 | Laughing Lumberjack Lager | 16 | 1 | 24 - 12 oz bottles | 14
74 | Longlife Tofu | 4 | 7 | 5 kg pkg. | 10
65 | Louisiana Fiery Hot Pepper Sauce | 2 | 2 | 32 - 8 oz bottles | 21.05
66 | Louisiana Hot Spiced Okra | 2 | 2 | 24 - 8 oz jars | 17
51 | Manjimup Dried Apples | 24 | 7 | 50 - 300 g pkgs. | 53
32 | Mascarpone Fabioli | 14 | 4 | 24 - 200 g pkgs. | 32
49 | Maxilaku | 23 | 3 | 24 - 50 g pkgs. | 20
9 | Mishi Kobe Niku | 4 | 6 | 18 - 500 g pkgs. | 97
72 | Mozzarella di Giovanni | 14 | 4 | 24 - 200 g pkgs. | 34.8
30 | Nord-Ost Matjeshering | 13 | 8 | 10 - 200 g glasses | 25.89
8 | Northwoods Cranberry Sauce | 3 | 2 | 12 - 12 oz jars | 40
25 | NuNuCa Nuß-Nougat-Creme | 11 | 3 | 20 - 450 g glasses | 14
77 | Original Frankfurter grüne Soße | 12 | 2 | 12 boxes | 13
70 | Outback Lager | 7 | 1 | 24 - 355 ml bottles | 15
16 | Pavlova | 7 | 3 | 32 - 500 g boxes | 17.45
53 | Perth Pasties | 24 | 6 | 48 pieces | 32.8
55 | Pâté chinois | 25 | 6 | 24 boxes x 2 pies | 24
11 | Queso Cabrales | 5 | 4 | 1 kg pkg. | 21
12 | Queso Manchego La Pastora | 5 | 4 | 10 - 500 g pkgs. | 38
59 | Raclette Courdavault | 28 | 4 | 5 kg pkg. | 55
57 | Ravioli Angelo | 26 | 5 | 24 - 250 g pkgs. | 19.5
75 | Rhönbräu Klosterbier | 12 | 1 | 24 - 0.5 l bottles | 7.75
73 | Röd Kaviar | 17 | 8 | 24 - 150 g jars | 15
28 | Rössle Sauerkraut | 12 | 7 | 25 - 825 g cans | 45.6
45 | Røgede sild | 21 | 8 | 1k pkg. | 9.5
34 | Sasquatch Ale | 16 | 1 | 24 - 12 oz bottles | 14
27 | Schoggi Schokolade | 11 | 3 | 100 - 100 g pieces | 43.9
68 | Scottish Longbreads | 8 | 3 | 10 boxes x 8 pieces | 12.5
42 | Singaporean Hokkien Fried Mee | 20 | 5 | 32 - 1 kg pkgs. | 14
20 | Sir Rodney's Marmalade | 8 | 3 | 30 gift boxes | 81
21 | Sir Rodney's Scones | 8 | 3 | 24 pkgs. x 4 pieces | 10
61 | Sirop d'érable | 29 | 2 | 24 - 500 ml bottles | 28.5
46 | Spegesild | 21 | 8 | 4 - 450 g glasses | 12
35 | Steeleye Stout | 16 | 1 | 24 - 12 oz bottles | 18
62 | Tarte au sucre | 29 | 3 | 48 pies | 49.3
19 | Teatime Chocolate Biscuits | 8 | 3 | 10 boxes x 12 pieces | 9.2
29 | Thüringer Rostbratwurst | 12 | 6 | 50 bags x 30 sausgs. | 123.79
14 | Tofu | 6 | 7 | 40 - 100 g pkgs. | 23.25
54 | Tourtière | 25 | 6 | 16 pies | 7.45
23 | Tunnbröd | 9 | 5 | 12 - 250 g pkgs. | 9
7 | Uncle Bob's Organic Dried Pears | 3 | 7 | 12 - 1 lb pkgs. | 30
50 | Valkoinen suklaa | 23 | 3 | 12 - 100 g bars | 16.25
63 | Vegie-spread | 7 | 2 | 15 - 625 g jars | 43.9
64 | Wimmers gute Semmelknödel | 12 | 5 | 20 bags x 4 pieces | 33.25
47 | Zaanse koeken | 22 | 3 | 10 - 4 oz boxes | 9.5

### Alphabetically DESC

In [35]:
cursor.execute("SELECT * FROM Products ORDER BY productname desc;")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

ProductID | ProductName | SupplierID | CategoryID | Unit | Price
----------------------------------------
47 | Zaanse koeken | 22 | 3 | 10 - 4 oz boxes | 9.5
64 | Wimmers gute Semmelknödel | 12 | 5 | 20 bags x 4 pieces | 33.25
63 | Vegie-spread | 7 | 2 | 15 - 625 g jars | 43.9
50 | Valkoinen suklaa | 23 | 3 | 12 - 100 g bars | 16.25
7 | Uncle Bob's Organic Dried Pears | 3 | 7 | 12 - 1 lb pkgs. | 30
23 | Tunnbröd | 9 | 5 | 12 - 250 g pkgs. | 9
54 | Tourtière | 25 | 6 | 16 pies | 7.45
14 | Tofu | 6 | 7 | 40 - 100 g pkgs. | 23.25
29 | Thüringer Rostbratwurst | 12 | 6 | 50 bags x 30 sausgs. | 123.79
19 | Teatime Chocolate Biscuits | 8 | 3 | 10 boxes x 12 pieces | 9.2
62 | Tarte au sucre | 29 | 3 | 48 pies | 49.3
35 | Steeleye Stout | 16 | 1 | 24 - 12 oz bottles | 18
46 | Spegesild | 21 | 8 | 4 - 450 g glasses | 12
61 | Sirop d'érable | 29 | 2 | 24 - 500 ml bottles | 28.5
21 | Sir Rodney's Scones | 8 | 3 | 24 pkgs. x 4 pieces | 10
20 | Sir Rodney's Marmalade | 8 | 3 | 30 gift boxes | 81
42 | Singaporean Hokkien Fried Mee | 20 | 5 | 32 - 1 kg pkgs. | 14
68 | Scottish Longbreads | 8 | 3 | 10 boxes x 8 pieces | 12.5
27 | Schoggi Schokolade | 11 | 3 | 100 - 100 g pieces | 43.9
34 | Sasquatch Ale | 16 | 1 | 24 - 12 oz bottles | 14
45 | Røgede sild | 21 | 8 | 1k pkg. | 9.5
28 | Rössle Sauerkraut | 12 | 7 | 25 - 825 g cans | 45.6
73 | Röd Kaviar | 17 | 8 | 24 - 150 g jars | 15
75 | Rhönbräu Klosterbier | 12 | 1 | 24 - 0.5 l bottles | 7.75
57 | Ravioli Angelo | 26 | 5 | 24 - 250 g pkgs. | 19.5
59 | Raclette Courdavault | 28 | 4 | 5 kg pkg. | 55
12 | Queso Manchego La Pastora | 5 | 4 | 10 - 500 g pkgs. | 38
11 | Queso Cabrales | 5 | 4 | 1 kg pkg. | 21
55 | Pâté chinois | 25 | 6 | 24 boxes x 2 pies | 24
53 | Perth Pasties | 24 | 6 | 48 pieces | 32.8
16 | Pavlova | 7 | 3 | 32 - 500 g boxes | 17.45
70 | Outback Lager | 7 | 1 | 24 - 355 ml bottles | 15
77 | Original Frankfurter grüne Soße | 12 | 2 | 12 boxes | 13
25 | NuNuCa Nuß-Nougat-Creme | 11 | 3 | 20 - 450 g glasses | 14
8 | Northwoods Cranberry Sauce | 3 | 2 | 12 - 12 oz jars | 40
30 | Nord-Ost Matjeshering | 13 | 8 | 10 - 200 g glasses | 25.89
72 | Mozzarella di Giovanni | 14 | 4 | 24 - 200 g pkgs. | 34.8
9 | Mishi Kobe Niku | 4 | 6 | 18 - 500 g pkgs. | 97
49 | Maxilaku | 23 | 3 | 24 - 50 g pkgs. | 20
32 | Mascarpone Fabioli | 14 | 4 | 24 - 200 g pkgs. | 32
51 | Manjimup Dried Apples | 24 | 7 | 50 - 300 g pkgs. | 53
66 | Louisiana Hot Spiced Okra | 2 | 2 | 24 - 8 oz jars | 17
65 | Louisiana Fiery Hot Pepper Sauce | 2 | 2 | 32 - 8 oz bottles | 21.05
74 | Longlife Tofu | 4 | 7 | 5 kg pkg. | 10
67 | Laughing Lumberjack Lager | 16 | 1 | 24 - 12 oz bottles | 14
76 | Lakkalikööri | 23 | 1 | 500 ml | 18
13 | Konbu | 6 | 8 | 2 kg box | 6
41 | Jack's New England Clam Chowder | 19 | 8 | 12 - 12 oz cans | 9.65
43 | Ipoh Coffee | 20 | 1 | 16 - 500 g tins | 46
36 | Inlagd Sill | 17 | 8 | 24 - 250 g jars | 19
10 | Ikura | 4 | 8 | 12 - 200 ml jars | 31
22 | Gustaf's Knäckebröd | 9 | 5 | 24 - 500 g pkgs. | 21
26 | Gumbär Gummibärchen | 11 | 3 | 100 - 250 g bags | 31.23
44 | Gula Malacca | 20 | 2 | 20 - 2 kg bags | 19.45
69 | Gudbrandsdalsost | 15 | 4 | 10 kg pkg. | 36
24 | Guaraná Fantástica | 10 | 1 | 12 - 355 ml cans | 4.5
37 | Gravad lax | 17 | 8 | 12 - 500 g pkgs. | 26
6 | Grandma's Boysenberry Spread | 3 | 2 | 12 - 8 oz jars | 25
31 | Gorgonzola Telino | 14 | 4 | 12 - 100 g pkgs | 12.5
56 | Gnocchi di nonna Alice | 26 | 5 | 24 - 250 g pkgs. | 38
15 | Genen Shouyu | 6 | 2 | 24 - 250 ml bottles | 15.5
33 | Geitost | 15 | 4 | 500 g | 2.5
71 | Fløtemysost | 15 | 4 | 10 - 500 g pkgs. | 21.5
52 | Filo Mix | 24 | 5 | 16 - 2 kg boxes | 7
58 | Escargots de Bourgogne | 27 | 8 | 24 pieces | 13.25
38 | Côte de Blaye | 18 | 1 | 12 - 75 cl bottles | 263.5
48 | Chocolade | 22 | 3 | 10 pkgs. | 12.75
5 | Chef Anton's Gumbo Mix | 2 | 2 | 36 boxes | 21.35
4 | Chef Anton's Cajun Seasoning | 2 | 2 | 48 - 6 oz jars | 22
39 | Chartreuse verte | 18 | 1 | 750 cc per bottle | 18
2 | Chang | 1 | 1 | 24 - 12 oz bottles | 19
1 | Chais | 1 | 1 | 10 boxes x 20 bags | 18
18 | Carnarvon Tigers | 7 | 8 | 16 kg pkg. | 62.5
60 | Camembert Pierrot | 28 | 4 | 15 - 300 g rounds | 34
40 | Boston Crab Meat | 19 | 8 | 24 - 4 oz tins | 18.4
3 | Aniseed Syrup | 1 | 2 | 12 - 550 ml bottles | 10
17 | Alice Mutton | 7 | 6 | 20 - 1 kg tins | 39

### ORDER BY Several Columns

In [36]:
cursor.execute("SELECT * FROM customers ORDER BY country, customername;")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
12 | Cactus Comidas para llevar | Patricio Simpson | Cerrito 333 | Buenos Aires | 1010 | Argentina
54 | Océano Atlántico Ltda. | Yvonne Moncada | Ing. Gustavo Moncada 8585 Piso 20-A | Buenos Aires | 1010 | Argentina
64 | Rancho grande | Sergio Gutiérrez | Av. del Libertador 900 | Buenos Aires | 1010 | Argentina
20 | Ernst Handel | Roland Mendel | Kirchgasse 6 | Graz | 8010 | Austria
59 | Piccolo und mehr | Georg Pipps | Geislweg 14 | Salzburg | 5020 | Austria
50 | Maison Dewey | Catherine Dewey | Rue Joseph-Bens 532 | Bruxelles | B-1180 | Belgium
76 | Suprêmes délices | Pascale Cartrain | Boulevard Tirou, 255 | Charleroi | B-6000 | Belgium
15 | Comércio Mineiro | Pedro Afonso | Av. dos Lusíadas, 23 | São Paulo | 05432-043 | Brazil
21 | Familia Arquibaldo | Aria Cruz | Rua Orós, 92 | São Paulo | 05442-030 | Brazil
31 | Gourmet Lanchonetes | André Fonseca | Av. Brasil, 442 | Campinas | 04876-786 | Brazil
34 | Hanari Carnes | Mario Pontes | Rua do Paço, 67 | Rio de Janeiro | 05454-876 | Brazil
61 | Que Delícia | Bernardo Batista | Rua da Panificadora, 12 | Rio de Janeiro | 02389-673 | Brazil
62 | Queen Cozinha | Lúcia Carvalho | Alameda dos Canàrios, 891 | São Paulo | 05487-020 | Brazil
67 | Ricardo Adocicados | Janete Limeira | Av. Copacabana, 267 | Rio de Janeiro | 02389-890 | Brazil
81 | Tradição Hipermercados | Anabela Domingues | Av. Inês de Castro, 414 | São Paulo | 05634-030 | Brazil
88 | Wellington Importadora | Paula Parente | Rua do Mercado, 12 | Resende | 08737-363 | Brazil
10 | Bottom-Dollar Marketse | Elizabeth Lincoln | 23 Tsawassen Blvd. | Tsawassen | T2F 8M4 | Canada
42 | Laughing Bacchus Wine Cellars | Yoshi Tannamuri | 1900 Oak St. | Vancouver | V3F 2K1 | Canada
51 | Mère Paillarde | Jean Fresnière | 43 rue St. Laurent | Montréal | H1J 1C3 | Canada
73 | Simons bistro | Jytte Petersen | Vinbæltet 34 | København | 1734 | Denmark
83 | Vaffeljernet | Palle Ibsen | Smagsløget 45 | Århus | 8200 | Denmark
87 | Wartian Herkku | Pirkko Koskitalo | Torikatu 38 | Oulu | 90110 | Finland
90 | Wilman Kala | Matti Karttunen | Keskuskatu 45 | Helsinki | 21240 | Finland
7 | Blondel père et fils | Frédérique Citeaux | 24, place Kléber | Strasbourg | 67000 | France
9 | Bon app' | Laurence Lebihans | 12, rue des Bouchers | Marseille | 13008 | France
18 | Du monde entier | Janine Labrune | 67, rue des Cinquante Otages | Nantes | 44000 | France
23 | Folies gourmandes | Martine Rancé | 184, chaussée de Tournai | Lille | 59000 | France
26 | France restauration | Carine Schmitt | 54, rue Royale | Nantes | 44000 | France
40 | La corne d'abondance | Daniel Tonini | 67, avenue de l'Europe | Versailles | 78000 | France
41 | La maison d'Asie | Annette Roulet | 1 rue Alsace-Lorraine | Toulouse | 31000 | France
57 | Paris spécialités | Marie Bertrand | 265, boulevard Charonne | Paris | 75012 | France
74 | Spécialités du monde | Dominique Perrier | 25, rue Lauriston | Paris | 75016 | France
84 | Victuailles en stock | Mary Saveley | 2, rue du Commerce | Lyon | 69004 | France
85 | Vins et alcools Chevalier | Paul Henriot | 59 rue de l'Abbaye | Reims | 51100 | France
1 | Alfreds Futterkiste | Maria Anders | Obere Str. 57 | Berlin | 12209 | Germany
6 | Blauer See Delikatessen | Hanna Moos | Forsterstr. 57 | Mannheim | 68306 | Germany
86 | Die Wandernde Kuh | Rita Müller | Adenauerallee 900 | Stuttgart | 70563 | Germany
17 | Drachenblut Delikatessend | Sven Ottlieb | Walserweg 21 | Aachen | 52066 | Germany
25 | Frankenversand | Peter Franken | Berliner Platz 43 | München | 80805 | Germany
39 | Königlich Essen | Philip Cramer | Maubelstr. 90 | Brandenburg | 14776 | Germany
44 | Lehmanns Marktstand | Renate Messner | Magazinweg 7 | Frankfurt a.M. | 60528 | Germany
52 | Morgenstern Gesundkost | Alexander Feuer | Heerstr. 22 | Leipzig | 04179 | Germany
56 | Ottilies Käseladen | Henriette Pfalzheim | Mehrheimerstr. 369 | Köln | 50739 | Germany
63 | QUICK-Stop | Horst Kloss | Taucherstraße 10 | Cunewalde | 01307 | Germany
79 | Toms Spezialitäten | Karin Josephs | Luisenstr. 48 | Münster | 44087 | Germany
37 | Hungry Owl All-Night Grocers | Patricia McKenna | 8 Johnstown Road | Cork |  | Ireland
27 | Franchi S.p.A. | Paolo Accorti | Via Monte Bianco 34 | Torino | 10100 | Italy
49 | Magazzini Alimentari Riuniti | Giovanni Rovelli | Via Ludovico il Moro 22 | Bergamo | 24100 | Italy
66 | Reggiani Caseifici | Maurizio Moroni | Strada Provinciale 124 | Reggio Emilia | 42100 | Italy
2 | Ana Trujillo Emparedados y helados | Ana Trujillo | Avda. de la Constitución 2222 | México D.F. | 05021 | Mexico
3 | Antonio Moreno Taquería | Antonio Moreno | Mataderos 2312 | México D.F. | 05023 | Mexico
13 | Centro comercial Moctezuma | Francisco Chang | Sierras de Granada 9993 | México D.F. | 05022 | Mexico
58 | Pericles Comidas clásicas | Guillermo Fernández | Calle Dr. Jorge Cash 321 | México D.F. | 05033 | Mexico
80 | Tortuga Restaurante | Miguel Angel Paolino | Avda. Azteca 123 | México D.F. | 05033 | Mexico
70 | Santé Gourmet | Jonas Bergulfsen | Erling Skakkes gate 78 | Stavern | 4110 | Norway
91 | Wolski | Zbyszek | ul. Filtrowa 68 | Walla | 01-012 | Poland
28 | Furia Bacalhau e Frutos do Mar | Lino Rodriguez | Jardim das rosas n. 32 | Lisboa | 1675 | Portugal
60 | Princesa Isabel Vinhoss | Isabel de Castro | Estrada da saúde n. 58 | Lisboa | 1756 | Portugal
8 | Bólido Comidas preparadas | Martín Sommer | C/ Araquil, 67 | Madrid | 28023 | Spain
22 | FISSA Fabrica Inter. Salchichas S.A. | Diego Roel | C/ Moralzarzal, 86 | Madrid | 28034 | Spain
29 | Galería del gastrónomo | Eduardo Saavedra | Rambla de Cataluña, 23 | Barcelona | 08022 | Spain
30 | Godos Cocina Típica | José Pedro Freyre | C/ Romero, 33 | Sevilla | 41101 | Spain
69 | Romero y tomillo | Alejandra Camino | Gran Vía, 1 | Madrid | 28001 | Spain
5 | Berglunds snabbköp | Christina Berglund | Berguvsvägen 8 | Luleå | S-958 22 | Sweden
24 | Folk och fä HB | Maria Larsson | Åkergatan 24 | Bräcke | S-844 67 | Sweden
14 | Chop-suey Chinese | Yang Wang | Hauptstr. 29 | Bern | 3012 | Switzerland
68 | Richter Supermarkt | Michael Holz | Grenzacherweg 237 | Genève | 1203 | Switzerland
4 | Around the Horn | Thomas Hardy | 120 Hanover Sq. | London | WA1 1DP | UK
11 | B's Beverages | Victoria Ashworth | Fauntleroy Circus | London | EC2 5NT | UK
16 | Consolidated Holdings | Elizabeth Brown | Berkeley Gardens 12 Brewery | London | WX1 6LT | UK
19 | Eastern Connection | Ann Devon | 35 King George | London | WX3 6FW | UK
38 | Island Trading | Helen Bennett | Garden House Crowther Way | Cowes | PO31 7PJ | UK
53 | North/South | Simon Crowther | South House 300 Queensbridge | London | SW7 1RZ | UK
72 | Seven Seas Imports | Hari Kumar | 90 Wadhurst Rd. | London | OX15 4NB | UK
32 | Great Lakes Food Market | Howard Snyder | 2732 Baker Blvd. | Eugene | 97403 | USA
36 | Hungry Coyote Import Store | Yoshi Latimer | City Center Plaza 516 Main St. | Elgin | 97827 | USA
43 | Lazy K Kountry Store | John Steel | 12 Orchestra Terrace | Walla Walla | 99362 | USA
45 | Let's Stop N Shop | Jaime Yorres | 87 Polk St. Suite 5 | San Francisco | 94117 | USA
48 | Lonesome Pine Restaurant | Fran Wilson | 89 Chiaroscuro Rd. | Portland | 97219 | USA
55 | Old World Delicatessen | Rene Phillips | 2743 Bering St. | Anchorage | 99508 | USA
65 | Rattlesnake Canyon Grocery | Paula Wilson | 2817 Milton Dr. | Albuquerque | 87110 | USA
71 | Save-a-lot Markets | Jose Pavarotti | 187 Suffolk Ln. | Boise | 83720 | USA
75 | Split Rail Beer & Ale | Art Braunschweiger | P.O. Box 555 | Lander | 82520 | USA
77 | The Big Cheese | Liz Nixon | 89 Jefferson Way Suite 2 | Portland | 97201 | USA
78 | The Cracker Box | Liu Wong | 55 Grizzly Peak Rd. | Butte | 59801 | USA
82 | Trail's Head Gourmet Provisioners | Helvetius Nagy | 722 DaVinci Blvd. | Kirkland | 98034 | USA
89 | White Clover Markets | Karl Jablonski | 305 - 14th Ave. S. Suite 3B | Seattle | 98128 | USA
33 | GROSELLA-Restaurante | Manuel Pereira | 5ª Ave. Los Palos Grandes | Caracas | 1081 | Venezuela
35 | HILARIÓN-Abastos | Carlos Hernández | Carrera 22 con Ave. Carlos Soublette #8-35 | San Cristóbal | 5022 | Venezuela
46 | LILA-Supermercado | Carlos González | Carrera 52 con Ave. Bolívar #65-98 Llano Largo | Barquisimeto | 3508 | Venezuela
47 | LINO-Delicateses | Felipe Izquierdo | Ave. 5 de Mayo Porlamar | I. de Margarita | 4980 | Venezuela

### Using Both ASC and DESC

In [37]:
cursor.execute("SELECT * FROM customers ORDER BY country asc, customername desc;")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
64 | Rancho grande | Sergio Gutiérrez | Av. del Libertador 900 | Buenos Aires | 1010 | Argentina
54 | Océano Atlántico Ltda. | Yvonne Moncada | Ing. Gustavo Moncada 8585 Piso 20-A | Buenos Aires | 1010 | Argentina
12 | Cactus Comidas para llevar | Patricio Simpson | Cerrito 333 | Buenos Aires | 1010 | Argentina
59 | Piccolo und mehr | Georg Pipps | Geislweg 14 | Salzburg | 5020 | Austria
20 | Ernst Handel | Roland Mendel | Kirchgasse 6 | Graz | 8010 | Austria
76 | Suprêmes délices | Pascale Cartrain | Boulevard Tirou, 255 | Charleroi | B-6000 | Belgium
50 | Maison Dewey | Catherine Dewey | Rue Joseph-Bens 532 | Bruxelles | B-1180 | Belgium
88 | Wellington Importadora | Paula Parente | Rua do Mercado, 12 | Resende | 08737-363 | Brazil
81 | Tradição Hipermercados | Anabela Domingues | Av. Inês de Castro, 414 | São Paulo | 05634-030 | Brazil
67 | Ricardo Adocicados | Janete Limeira | Av. Copacabana, 267 | Rio de Janeiro | 02389-890 | Brazil
62 | Queen Cozinha | Lúcia Carvalho | Alameda dos Canàrios, 891 | São Paulo | 05487-020 | Brazil
61 | Que Delícia | Bernardo Batista | Rua da Panificadora, 12 | Rio de Janeiro | 02389-673 | Brazil
34 | Hanari Carnes | Mario Pontes | Rua do Paço, 67 | Rio de Janeiro | 05454-876 | Brazil
31 | Gourmet Lanchonetes | André Fonseca | Av. Brasil, 442 | Campinas | 04876-786 | Brazil
21 | Familia Arquibaldo | Aria Cruz | Rua Orós, 92 | São Paulo | 05442-030 | Brazil
15 | Comércio Mineiro | Pedro Afonso | Av. dos Lusíadas, 23 | São Paulo | 05432-043 | Brazil
51 | Mère Paillarde | Jean Fresnière | 43 rue St. Laurent | Montréal | H1J 1C3 | Canada
42 | Laughing Bacchus Wine Cellars | Yoshi Tannamuri | 1900 Oak St. | Vancouver | V3F 2K1 | Canada
10 | Bottom-Dollar Marketse | Elizabeth Lincoln | 23 Tsawassen Blvd. | Tsawassen | T2F 8M4 | Canada
83 | Vaffeljernet | Palle Ibsen | Smagsløget 45 | Århus | 8200 | Denmark
73 | Simons bistro | Jytte Petersen | Vinbæltet 34 | København | 1734 | Denmark
90 | Wilman Kala | Matti Karttunen | Keskuskatu 45 | Helsinki | 21240 | Finland
87 | Wartian Herkku | Pirkko Koskitalo | Torikatu 38 | Oulu | 90110 | Finland
85 | Vins et alcools Chevalier | Paul Henriot | 59 rue de l'Abbaye | Reims | 51100 | France
84 | Victuailles en stock | Mary Saveley | 2, rue du Commerce | Lyon | 69004 | France
74 | Spécialités du monde | Dominique Perrier | 25, rue Lauriston | Paris | 75016 | France
57 | Paris spécialités | Marie Bertrand | 265, boulevard Charonne | Paris | 75012 | France
41 | La maison d'Asie | Annette Roulet | 1 rue Alsace-Lorraine | Toulouse | 31000 | France
40 | La corne d'abondance | Daniel Tonini | 67, avenue de l'Europe | Versailles | 78000 | France
26 | France restauration | Carine Schmitt | 54, rue Royale | Nantes | 44000 | France
23 | Folies gourmandes | Martine Rancé | 184, chaussée de Tournai | Lille | 59000 | France
18 | Du monde entier | Janine Labrune | 67, rue des Cinquante Otages | Nantes | 44000 | France
9 | Bon app' | Laurence Lebihans | 12, rue des Bouchers | Marseille | 13008 | France
7 | Blondel père et fils | Frédérique Citeaux | 24, place Kléber | Strasbourg | 67000 | France
79 | Toms Spezialitäten | Karin Josephs | Luisenstr. 48 | Münster | 44087 | Germany
63 | QUICK-Stop | Horst Kloss | Taucherstraße 10 | Cunewalde | 01307 | Germany
56 | Ottilies Käseladen | Henriette Pfalzheim | Mehrheimerstr. 369 | Köln | 50739 | Germany
52 | Morgenstern Gesundkost | Alexander Feuer | Heerstr. 22 | Leipzig | 04179 | Germany
44 | Lehmanns Marktstand | Renate Messner | Magazinweg 7 | Frankfurt a.M. | 60528 | Germany
39 | Königlich Essen | Philip Cramer | Maubelstr. 90 | Brandenburg | 14776 | Germany
25 | Frankenversand | Peter Franken | Berliner Platz 43 | München | 80805 | Germany
17 | Drachenblut Delikatessend | Sven Ottlieb | Walserweg 21 | Aachen | 52066 | Germany
86 | Die Wandernde Kuh | Rita Müller | Adenauerallee 900 | Stuttgart | 70563 | Germany
6 | Blauer See Delikatessen | Hanna Moos | Forsterstr. 57 | Mannheim | 68306 | Germany
1 | Alfreds Futterkiste | Maria Anders | Obere Str. 57 | Berlin | 12209 | Germany
37 | Hungry Owl All-Night Grocers | Patricia McKenna | 8 Johnstown Road | Cork |  | Ireland
66 | Reggiani Caseifici | Maurizio Moroni | Strada Provinciale 124 | Reggio Emilia | 42100 | Italy
49 | Magazzini Alimentari Riuniti | Giovanni Rovelli | Via Ludovico il Moro 22 | Bergamo | 24100 | Italy
27 | Franchi S.p.A. | Paolo Accorti | Via Monte Bianco 34 | Torino | 10100 | Italy
80 | Tortuga Restaurante | Miguel Angel Paolino | Avda. Azteca 123 | México D.F. | 05033 | Mexico
58 | Pericles Comidas clásicas | Guillermo Fernández | Calle Dr. Jorge Cash 321 | México D.F. | 05033 | Mexico
13 | Centro comercial Moctezuma | Francisco Chang | Sierras de Granada 9993 | México D.F. | 05022 | Mexico
3 | Antonio Moreno Taquería | Antonio Moreno | Mataderos 2312 | México D.F. | 05023 | Mexico
2 | Ana Trujillo Emparedados y helados | Ana Trujillo | Avda. de la Constitución 2222 | México D.F. | 05021 | Mexico
70 | Santé Gourmet | Jonas Bergulfsen | Erling Skakkes gate 78 | Stavern | 4110 | Norway
91 | Wolski | Zbyszek | ul. Filtrowa 68 | Walla | 01-012 | Poland
60 | Princesa Isabel Vinhoss | Isabel de Castro | Estrada da saúde n. 58 | Lisboa | 1756 | Portugal
28 | Furia Bacalhau e Frutos do Mar | Lino Rodriguez | Jardim das rosas n. 32 | Lisboa | 1675 | Portugal
69 | Romero y tomillo | Alejandra Camino | Gran Vía, 1 | Madrid | 28001 | Spain
30 | Godos Cocina Típica | José Pedro Freyre | C/ Romero, 33 | Sevilla | 41101 | Spain
29 | Galería del gastrónomo | Eduardo Saavedra | Rambla de Cataluña, 23 | Barcelona | 08022 | Spain
22 | FISSA Fabrica Inter. Salchichas S.A. | Diego Roel | C/ Moralzarzal, 86 | Madrid | 28034 | Spain
8 | Bólido Comidas preparadas | Martín Sommer | C/ Araquil, 67 | Madrid | 28023 | Spain
24 | Folk och fä HB | Maria Larsson | Åkergatan 24 | Bräcke | S-844 67 | Sweden
5 | Berglunds snabbköp | Christina Berglund | Berguvsvägen 8 | Luleå | S-958 22 | Sweden
68 | Richter Supermarkt | Michael Holz | Grenzacherweg 237 | Genève | 1203 | Switzerland
14 | Chop-suey Chinese | Yang Wang | Hauptstr. 29 | Bern | 3012 | Switzerland
72 | Seven Seas Imports | Hari Kumar | 90 Wadhurst Rd. | London | OX15 4NB | UK
53 | North/South | Simon Crowther | South House 300 Queensbridge | London | SW7 1RZ | UK
38 | Island Trading | Helen Bennett | Garden House Crowther Way | Cowes | PO31 7PJ | UK
19 | Eastern Connection | Ann Devon | 35 King George | London | WX3 6FW | UK
16 | Consolidated Holdings | Elizabeth Brown | Berkeley Gardens 12 Brewery | London | WX1 6LT | UK
11 | B's Beverages | Victoria Ashworth | Fauntleroy Circus | London | EC2 5NT | UK
4 | Around the Horn | Thomas Hardy | 120 Hanover Sq. | London | WA1 1DP | UK
89 | White Clover Markets | Karl Jablonski | 305 - 14th Ave. S. Suite 3B | Seattle | 98128 | USA
82 | Trail's Head Gourmet Provisioners | Helvetius Nagy | 722 DaVinci Blvd. | Kirkland | 98034 | USA
78 | The Cracker Box | Liu Wong | 55 Grizzly Peak Rd. | Butte | 59801 | USA
77 | The Big Cheese | Liz Nixon | 89 Jefferson Way Suite 2 | Portland | 97201 | USA
75 | Split Rail Beer & Ale | Art Braunschweiger | P.O. Box 555 | Lander | 82520 | USA
71 | Save-a-lot Markets | Jose Pavarotti | 187 Suffolk Ln. | Boise | 83720 | USA
65 | Rattlesnake Canyon Grocery | Paula Wilson | 2817 Milton Dr. | Albuquerque | 87110 | USA
55 | Old World Delicatessen | Rene Phillips | 2743 Bering St. | Anchorage | 99508 | USA
48 | Lonesome Pine Restaurant | Fran Wilson | 89 Chiaroscuro Rd. | Portland | 97219 | USA
45 | Let's Stop N Shop | Jaime Yorres | 87 Polk St. Suite 5 | San Francisco | 94117 | USA
43 | Lazy K Kountry Store | John Steel | 12 Orchestra Terrace | Walla Walla | 99362 | USA
36 | Hungry Coyote Import Store | Yoshi Latimer | City Center Plaza 516 Main St. | Elgin | 97827 | USA
32 | Great Lakes Food Market | Howard Snyder | 2732 Baker Blvd. | Eugene | 97403 | USA
47 | LINO-Delicateses | Felipe Izquierdo | Ave. 5 de Mayo Porlamar | I. de Margarita | 4980 | Venezuela
46 | LILA-Supermercado | Carlos González | Carrera 52 con Ave. Bolívar #65-98 Llano Largo | Barquisimeto | 3508 | Venezuela
35 | HILARIÓN-Abastos | Carlos Hernández | Carrera 22 con Ave. Carlos Soublette #8-35 | San Cristóbal | 5022 | Venezuela
33 | GROSELLA-Restaurante | Manuel Pereira | 5ª Ave. Los Palos Grandes | Caracas | 1081 | Venezuela

## SQL And

### The SQL AND Operator

In [38]:
cursor.execute("SELECT * FROM Customers WHERE Country = 'Spain' AND CustomerName LIKE 'G%';")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
29 | Galería del gastrónomo | Eduardo Saavedra | Rambla de Cataluña, 23 | Barcelona | 08022 | Spain
30 | Godos Cocina Típica | José Pedro Freyre | C/ Romero, 33 | Sevilla | 41101 | Spain

### All Conditions Must Be True

In [39]:
cursor.execute("SELECT * FROM Customers WHERE Country = 'Brazil' AND City = 'Rio de Janeiro' AND CustomerID > 50;")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
61 | Que Delícia | Bernardo Batista | Rua da Panificadora, 12 | Rio de Janeiro | 02389-673 | Brazil
67 | Ricardo Adocicados | Janete Limeira | Av. Copacabana, 267 | Rio de Janeiro | 02389-890 | Brazil

### Combining AND and OR

In [40]:
cursor.execute("SELECT * FROM Customers WHERE Country = 'Spain' AND (CustomerName LIKE 'G%' OR CustomerName LIKE 'R%');")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
29 | Galería del gastrónomo | Eduardo Saavedra | Rambla de Cataluña, 23 | Barcelona | 08022 | Spain
30 | Godos Cocina Típica | José Pedro Freyre | C/ Romero, 33 | Sevilla | 41101 | Spain
69 | Romero y tomillo | Alejandra Camino | Gran Vía, 1 | Madrid | 28001 | Spain

In [41]:
cursor.execute("SELECT * FROM Customers WHERE Country = 'Spain' AND CustomerName LIKE 'G%' OR CustomerName LIKE 'R%';")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
29 | Galería del gastrónomo | Eduardo Saavedra | Rambla de Cataluña, 23 | Barcelona | 08022 | Spain
30 | Godos Cocina Típica | José Pedro Freyre | C/ Romero, 33 | Sevilla | 41101 | Spain
64 | Rancho grande | Sergio Gutiérrez | Av. del Libertador 900 | Buenos Aires | 1010 | Argentina
65 | Rattlesnake Canyon Grocery | Paula Wilson | 2817 Milton Dr. | Albuquerque | 87110 | USA
66 | Reggiani Caseifici | Maurizio Moroni | Strada Provinciale 124 | Reggio Emilia | 42100 | Italy
67 | Ricardo Adocicados | Janete Limeira | Av. Copacabana, 267 | Rio de Janeiro | 02389-890 | Brazil
68 | Richter Supermarkt | Michael Holz | Grenzacherweg 237 | Genève | 1203 | Switzerland
69 | Romero y tomillo | Alejandra Camino | Gran Vía, 1 | Madrid | 28001 | Spain

## SQL Or

### The SQL OR Operator

In [ ]:
cursor.execute("SELECT * FROM Customers WHERE Country = 'Germany' OR Country = 'Spain';")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

### At Least One Condition Must Be True

In [42]:
cursor.execute("SELECT * FROM Customers WHERE City = 'Berlin' OR CustomerName LIKE 'G%' OR Country = 'Norway';")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
1 | Alfreds Futterkiste | Maria Anders | Obere Str. 57 | Berlin | 12209 | Germany
29 | Galería del gastrónomo | Eduardo Saavedra | Rambla de Cataluña, 23 | Barcelona | 08022 | Spain
30 | Godos Cocina Típica | José Pedro Freyre | C/ Romero, 33 | Sevilla | 41101 | Spain
31 | Gourmet Lanchonetes | André Fonseca | Av. Brasil, 442 | Campinas | 04876-786 | Brazil
32 | Great Lakes Food Market | Howard Snyder | 2732 Baker Blvd. | Eugene | 97403 | USA
33 | GROSELLA-Restaurante | Manuel Pereira | 5ª Ave. Los Palos Grandes | Caracas | 1081 | Venezuela
70 | Santé Gourmet | Jonas Bergulfsen | Erling Skakkes gate 78 | Stavern | 4110 | Norway

### Combining AND and OR

In [43]:
cursor.execute("SELECT * FROM Customers WHERE Country = 'Spain' AND (CustomerName LIKE 'G%' OR CustomerName LIKE 'R%');")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
29 | Galería del gastrónomo | Eduardo Saavedra | Rambla de Cataluña, 23 | Barcelona | 08022 | Spain
30 | Godos Cocina Típica | José Pedro Freyre | C/ Romero, 33 | Sevilla | 41101 | Spain
69 | Romero y tomillo | Alejandra Camino | Gran Vía, 1 | Madrid | 28001 | Spain

In [44]:
cursor.execute("SELECT * FROM Customers WHERE Country = 'Spain' AND CustomerName LIKE 'G%' OR CustomerName LIKE 'R%';")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
29 | Galería del gastrónomo | Eduardo Saavedra | Rambla de Cataluña, 23 | Barcelona | 08022 | Spain
30 | Godos Cocina Típica | José Pedro Freyre | C/ Romero, 33 | Sevilla | 41101 | Spain
64 | Rancho grande | Sergio Gutiérrez | Av. del Libertador 900 | Buenos Aires | 1010 | Argentina
65 | Rattlesnake Canyon Grocery | Paula Wilson | 2817 Milton Dr. | Albuquerque | 87110 | USA
66 | Reggiani Caseifici | Maurizio Moroni | Strada Provinciale 124 | Reggio Emilia | 42100 | Italy
67 | Ricardo Adocicados | Janete Limeira | Av. Copacabana, 267 | Rio de Janeiro | 02389-890 | Brazil
68 | Richter Supermarkt | Michael Holz | Grenzacherweg 237 | Genève | 1203 | Switzerland
69 | Romero y tomillo | Alejandra Camino | Gran Vía, 1 | Madrid | 28001 | Spain

## SQL Not

### The NOT Operator

In [45]:
cursor.execute("SELECT * FROM Customers WHERE NOT Country = 'Spain';")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
1 | Alfreds Futterkiste | Maria Anders | Obere Str. 57 | Berlin | 12209 | Germany
2 | Ana Trujillo Emparedados y helados | Ana Trujillo | Avda. de la Constitución 2222 | México D.F. | 05021 | Mexico
3 | Antonio Moreno Taquería | Antonio Moreno | Mataderos 2312 | México D.F. | 05023 | Mexico
4 | Around the Horn | Thomas Hardy | 120 Hanover Sq. | London | WA1 1DP | UK
5 | Berglunds snabbköp | Christina Berglund | Berguvsvägen 8 | Luleå | S-958 22 | Sweden
6 | Blauer See Delikatessen | Hanna Moos | Forsterstr. 57 | Mannheim | 68306 | Germany
7 | Blondel père et fils | Frédérique Citeaux | 24, place Kléber | Strasbourg | 67000 | France
9 | Bon app' | Laurence Lebihans | 12, rue des Bouchers | Marseille | 13008 | France
10 | Bottom-Dollar Marketse | Elizabeth Lincoln | 23 Tsawassen Blvd. | Tsawassen | T2F 8M4 | Canada
11 | B's Beverages | Victoria Ashworth | Fauntleroy Circus | London | EC2 5NT | UK
12 | Cactus Comidas para llevar | Patricio Simpson | Cerrito 333 | Buenos Aires | 1010 | Argentina
13 | Centro comercial Moctezuma | Francisco Chang | Sierras de Granada 9993 | México D.F. | 05022 | Mexico
14 | Chop-suey Chinese | Yang Wang | Hauptstr. 29 | Bern | 3012 | Switzerland
15 | Comércio Mineiro | Pedro Afonso | Av. dos Lusíadas, 23 | São Paulo | 05432-043 | Brazil
16 | Consolidated Holdings | Elizabeth Brown | Berkeley Gardens 12 Brewery | London | WX1 6LT | UK
17 | Drachenblut Delikatessend | Sven Ottlieb | Walserweg 21 | Aachen | 52066 | Germany
18 | Du monde entier | Janine Labrune | 67, rue des Cinquante Otages | Nantes | 44000 | France
19 | Eastern Connection | Ann Devon | 35 King George | London | WX3 6FW | UK
20 | Ernst Handel | Roland Mendel | Kirchgasse 6 | Graz | 8010 | Austria
21 | Familia Arquibaldo | Aria Cruz | Rua Orós, 92 | São Paulo | 05442-030 | Brazil
23 | Folies gourmandes | Martine Rancé | 184, chaussée de Tournai | Lille | 59000 | France
24 | Folk och fä HB | Maria Larsson | Åkergatan 24 | Bräcke | S-844 67 | Sweden
25 | Frankenversand | Peter Franken | Berliner Platz 43 | München | 80805 | Germany
26 | France restauration | Carine Schmitt | 54, rue Royale | Nantes | 44000 | France
27 | Franchi S.p.A. | Paolo Accorti | Via Monte Bianco 34 | Torino | 10100 | Italy
28 | Furia Bacalhau e Frutos do Mar | Lino Rodriguez | Jardim das rosas n. 32 | Lisboa | 1675 | Portugal
31 | Gourmet Lanchonetes | André Fonseca | Av. Brasil, 442 | Campinas | 04876-786 | Brazil
32 | Great Lakes Food Market | Howard Snyder | 2732 Baker Blvd. | Eugene | 97403 | USA
33 | GROSELLA-Restaurante | Manuel Pereira | 5ª Ave. Los Palos Grandes | Caracas | 1081 | Venezuela
34 | Hanari Carnes | Mario Pontes | Rua do Paço, 67 | Rio de Janeiro | 05454-876 | Brazil
35 | HILARIÓN-Abastos | Carlos Hernández | Carrera 22 con Ave. Carlos Soublette #8-35 | San Cristóbal | 5022 | Venezuela
36 | Hungry Coyote Import Store | Yoshi Latimer | City Center Plaza 516 Main St. | Elgin | 97827 | USA
37 | Hungry Owl All-Night Grocers | Patricia McKenna | 8 Johnstown Road | Cork |  | Ireland
38 | Island Trading | Helen Bennett | Garden House Crowther Way | Cowes | PO31 7PJ | UK
39 | Königlich Essen | Philip Cramer | Maubelstr. 90 | Brandenburg | 14776 | Germany
40 | La corne d'abondance | Daniel Tonini | 67, avenue de l'Europe | Versailles | 78000 | France
41 | La maison d'Asie | Annette Roulet | 1 rue Alsace-Lorraine | Toulouse | 31000 | France
42 | Laughing Bacchus Wine Cellars | Yoshi Tannamuri | 1900 Oak St. | Vancouver | V3F 2K1 | Canada
43 | Lazy K Kountry Store | John Steel | 12 Orchestra Terrace | Walla Walla | 99362 | USA
44 | Lehmanns Marktstand | Renate Messner | Magazinweg 7 | Frankfurt a.M. | 60528 | Germany
45 | Let's Stop N Shop | Jaime Yorres | 87 Polk St. Suite 5 | San Francisco | 94117 | USA
46 | LILA-Supermercado | Carlos González | Carrera 52 con Ave. Bolívar #65-98 Llano Largo | Barquisimeto | 3508 | Venezuela
47 | LINO-Delicateses | Felipe Izquierdo | Ave. 5 de Mayo Porlamar | I. de Margarita | 4980 | Venezuela
48 | Lonesome Pine Restaurant | Fran Wilson | 89 Chiaroscuro Rd. | Portland | 97219 | USA
49 | Magazzini Alimentari Riuniti | Giovanni Rovelli | Via Ludovico il Moro 22 | Bergamo | 24100 | Italy
50 | Maison Dewey | Catherine Dewey | Rue Joseph-Bens 532 | Bruxelles | B-1180 | Belgium
51 | Mère Paillarde | Jean Fresnière | 43 rue St. Laurent | Montréal | H1J 1C3 | Canada
52 | Morgenstern Gesundkost | Alexander Feuer | Heerstr. 22 | Leipzig | 04179 | Germany
53 | North/South | Simon Crowther | South House 300 Queensbridge | London | SW7 1RZ | UK
54 | Océano Atlántico Ltda. | Yvonne Moncada | Ing. Gustavo Moncada 8585 Piso 20-A | Buenos Aires | 1010 | Argentina
55 | Old World Delicatessen | Rene Phillips | 2743 Bering St. | Anchorage | 99508 | USA
56 | Ottilies Käseladen | Henriette Pfalzheim | Mehrheimerstr. 369 | Köln | 50739 | Germany
57 | Paris spécialités | Marie Bertrand | 265, boulevard Charonne | Paris | 75012 | France
58 | Pericles Comidas clásicas | Guillermo Fernández | Calle Dr. Jorge Cash 321 | México D.F. | 05033 | Mexico
59 | Piccolo und mehr | Georg Pipps | Geislweg 14 | Salzburg | 5020 | Austria
60 | Princesa Isabel Vinhoss | Isabel de Castro | Estrada da saúde n. 58 | Lisboa | 1756 | Portugal
61 | Que Delícia | Bernardo Batista | Rua da Panificadora, 12 | Rio de Janeiro | 02389-673 | Brazil
62 | Queen Cozinha | Lúcia Carvalho | Alameda dos Canàrios, 891 | São Paulo | 05487-020 | Brazil
63 | QUICK-Stop | Horst Kloss | Taucherstraße 10 | Cunewalde | 01307 | Germany
64 | Rancho grande | Sergio Gutiérrez | Av. del Libertador 900 | Buenos Aires | 1010 | Argentina
65 | Rattlesnake Canyon Grocery | Paula Wilson | 2817 Milton Dr. | Albuquerque | 87110 | USA
66 | Reggiani Caseifici | Maurizio Moroni | Strada Provinciale 124 | Reggio Emilia | 42100 | Italy
67 | Ricardo Adocicados | Janete Limeira | Av. Copacabana, 267 | Rio de Janeiro | 02389-890 | Brazil
68 | Richter Supermarkt | Michael Holz | Grenzacherweg 237 | Genève | 1203 | Switzerland
70 | Santé Gourmet | Jonas Bergulfsen | Erling Skakkes gate 78 | Stavern | 4110 | Norway
71 | Save-a-lot Markets | Jose Pavarotti | 187 Suffolk Ln. | Boise | 83720 | USA
72 | Seven Seas Imports | Hari Kumar | 90 Wadhurst Rd. | London | OX15 4NB | UK
73 | Simons bistro | Jytte Petersen | Vinbæltet 34 | København | 1734 | Denmark
74 | Spécialités du monde | Dominique Perrier | 25, rue Lauriston | Paris | 75016 | France
75 | Split Rail Beer & Ale | Art Braunschweiger | P.O. Box 555 | Lander | 82520 | USA
76 | Suprêmes délices | Pascale Cartrain | Boulevard Tirou, 255 | Charleroi | B-6000 | Belgium
77 | The Big Cheese | Liz Nixon | 89 Jefferson Way Suite 2 | Portland | 97201 | USA
78 | The Cracker Box | Liu Wong | 55 Grizzly Peak Rd. | Butte | 59801 | USA
79 | Toms Spezialitäten | Karin Josephs | Luisenstr. 48 | Münster | 44087 | Germany
80 | Tortuga Restaurante | Miguel Angel Paolino | Avda. Azteca 123 | México D.F. | 05033 | Mexico
81 | Tradição Hipermercados | Anabela Domingues | Av. Inês de Castro, 414 | São Paulo | 05634-030 | Brazil
82 | Trail's Head Gourmet Provisioners | Helvetius Nagy | 722 DaVinci Blvd. | Kirkland | 98034 | USA
83 | Vaffeljernet | Palle Ibsen | Smagsløget 45 | Århus | 8200 | Denmark
84 | Victuailles en stock | Mary Saveley | 2, rue du Commerce | Lyon | 69004 | France
85 | Vins et alcools Chevalier | Paul Henriot | 59 rue de l'Abbaye | Reims | 51100 | France
86 | Die Wandernde Kuh | Rita Müller | Adenauerallee 900 | Stuttgart | 70563 | Germany
87 | Wartian Herkku | Pirkko Koskitalo | Torikatu 38 | Oulu | 90110 | Finland
88 | Wellington Importadora | Paula Parente | Rua do Mercado, 12 | Resende | 08737-363 | Brazil
89 | White Clover Markets | Karl Jablonski | 305 - 14th Ave. S. Suite 3B | Seattle | 98128 | USA
90 | Wilman Kala | Matti Karttunen | Keskuskatu 45 | Helsinki | 21240 | Finland
91 | Wolski | Zbyszek | ul. Filtrowa 68 | Walla | 01-012 | Poland

### NOT LIKE

In [46]:
cursor.execute("SELECT * FROM Customers WHERE CustomerName NOT LIKE 'A%';")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
5 | Berglunds snabbköp | Christina Berglund | Berguvsvägen 8 | Luleå | S-958 22 | Sweden
6 | Blauer See Delikatessen | Hanna Moos | Forsterstr. 57 | Mannheim | 68306 | Germany
7 | Blondel père et fils | Frédérique Citeaux | 24, place Kléber | Strasbourg | 67000 | France
8 | Bólido Comidas preparadas | Martín Sommer | C/ Araquil, 67 | Madrid | 28023 | Spain
9 | Bon app' | Laurence Lebihans | 12, rue des Bouchers | Marseille | 13008 | France
10 | Bottom-Dollar Marketse | Elizabeth Lincoln | 23 Tsawassen Blvd. | Tsawassen | T2F 8M4 | Canada
11 | B's Beverages | Victoria Ashworth | Fauntleroy Circus | London | EC2 5NT | UK
12 | Cactus Comidas para llevar | Patricio Simpson | Cerrito 333 | Buenos Aires | 1010 | Argentina
13 | Centro comercial Moctezuma | Francisco Chang | Sierras de Granada 9993 | México D.F. | 05022 | Mexico
14 | Chop-suey Chinese | Yang Wang | Hauptstr. 29 | Bern | 3012 | Switzerland
15 | Comércio Mineiro | Pedro Afonso | Av. dos Lusíadas, 23 | São Paulo | 05432-043 | Brazil
16 | Consolidated Holdings | Elizabeth Brown | Berkeley Gardens 12 Brewery | London | WX1 6LT | UK
17 | Drachenblut Delikatessend | Sven Ottlieb | Walserweg 21 | Aachen | 52066 | Germany
18 | Du monde entier | Janine Labrune | 67, rue des Cinquante Otages | Nantes | 44000 | France
19 | Eastern Connection | Ann Devon | 35 King George | London | WX3 6FW | UK
20 | Ernst Handel | Roland Mendel | Kirchgasse 6 | Graz | 8010 | Austria
21 | Familia Arquibaldo | Aria Cruz | Rua Orós, 92 | São Paulo | 05442-030 | Brazil
22 | FISSA Fabrica Inter. Salchichas S.A. | Diego Roel | C/ Moralzarzal, 86 | Madrid | 28034 | Spain
23 | Folies gourmandes | Martine Rancé | 184, chaussée de Tournai | Lille | 59000 | France
24 | Folk och fä HB | Maria Larsson | Åkergatan 24 | Bräcke | S-844 67 | Sweden
25 | Frankenversand | Peter Franken | Berliner Platz 43 | München | 80805 | Germany
26 | France restauration | Carine Schmitt | 54, rue Royale | Nantes | 44000 | France
27 | Franchi S.p.A. | Paolo Accorti | Via Monte Bianco 34 | Torino | 10100 | Italy
28 | Furia Bacalhau e Frutos do Mar | Lino Rodriguez | Jardim das rosas n. 32 | Lisboa | 1675 | Portugal
29 | Galería del gastrónomo | Eduardo Saavedra | Rambla de Cataluña, 23 | Barcelona | 08022 | Spain
30 | Godos Cocina Típica | José Pedro Freyre | C/ Romero, 33 | Sevilla | 41101 | Spain
31 | Gourmet Lanchonetes | André Fonseca | Av. Brasil, 442 | Campinas | 04876-786 | Brazil
32 | Great Lakes Food Market | Howard Snyder | 2732 Baker Blvd. | Eugene | 97403 | USA
33 | GROSELLA-Restaurante | Manuel Pereira | 5ª Ave. Los Palos Grandes | Caracas | 1081 | Venezuela
34 | Hanari Carnes | Mario Pontes | Rua do Paço, 67 | Rio de Janeiro | 05454-876 | Brazil
35 | HILARIÓN-Abastos | Carlos Hernández | Carrera 22 con Ave. Carlos Soublette #8-35 | San Cristóbal | 5022 | Venezuela
36 | Hungry Coyote Import Store | Yoshi Latimer | City Center Plaza 516 Main St. | Elgin | 97827 | USA
37 | Hungry Owl All-Night Grocers | Patricia McKenna | 8 Johnstown Road | Cork |  | Ireland
38 | Island Trading | Helen Bennett | Garden House Crowther Way | Cowes | PO31 7PJ | UK
39 | Königlich Essen | Philip Cramer | Maubelstr. 90 | Brandenburg | 14776 | Germany
40 | La corne d'abondance | Daniel Tonini | 67, avenue de l'Europe | Versailles | 78000 | France
41 | La maison d'Asie | Annette Roulet | 1 rue Alsace-Lorraine | Toulouse | 31000 | France
42 | Laughing Bacchus Wine Cellars | Yoshi Tannamuri | 1900 Oak St. | Vancouver | V3F 2K1 | Canada
43 | Lazy K Kountry Store | John Steel | 12 Orchestra Terrace | Walla Walla | 99362 | USA
44 | Lehmanns Marktstand | Renate Messner | Magazinweg 7 | Frankfurt a.M. | 60528 | Germany
45 | Let's Stop N Shop | Jaime Yorres | 87 Polk St. Suite 5 | San Francisco | 94117 | USA
46 | LILA-Supermercado | Carlos González | Carrera 52 con Ave. Bolívar #65-98 Llano Largo | Barquisimeto | 3508 | Venezuela
47 | LINO-Delicateses | Felipe Izquierdo | Ave. 5 de Mayo Porlamar | I. de Margarita | 4980 | Venezuela
48 | Lonesome Pine Restaurant | Fran Wilson | 89 Chiaroscuro Rd. | Portland | 97219 | USA
49 | Magazzini Alimentari Riuniti | Giovanni Rovelli | Via Ludovico il Moro 22 | Bergamo | 24100 | Italy
50 | Maison Dewey | Catherine Dewey | Rue Joseph-Bens 532 | Bruxelles | B-1180 | Belgium
51 | Mère Paillarde | Jean Fresnière | 43 rue St. Laurent | Montréal | H1J 1C3 | Canada
52 | Morgenstern Gesundkost | Alexander Feuer | Heerstr. 22 | Leipzig | 04179 | Germany
53 | North/South | Simon Crowther | South House 300 Queensbridge | London | SW7 1RZ | UK
54 | Océano Atlántico Ltda. | Yvonne Moncada | Ing. Gustavo Moncada 8585 Piso 20-A | Buenos Aires | 1010 | Argentina
55 | Old World Delicatessen | Rene Phillips | 2743 Bering St. | Anchorage | 99508 | USA
56 | Ottilies Käseladen | Henriette Pfalzheim | Mehrheimerstr. 369 | Köln | 50739 | Germany
57 | Paris spécialités | Marie Bertrand | 265, boulevard Charonne | Paris | 75012 | France
58 | Pericles Comidas clásicas | Guillermo Fernández | Calle Dr. Jorge Cash 321 | México D.F. | 05033 | Mexico
59 | Piccolo und mehr | Georg Pipps | Geislweg 14 | Salzburg | 5020 | Austria
60 | Princesa Isabel Vinhoss | Isabel de Castro | Estrada da saúde n. 58 | Lisboa | 1756 | Portugal
61 | Que Delícia | Bernardo Batista | Rua da Panificadora, 12 | Rio de Janeiro | 02389-673 | Brazil
62 | Queen Cozinha | Lúcia Carvalho | Alameda dos Canàrios, 891 | São Paulo | 05487-020 | Brazil
63 | QUICK-Stop | Horst Kloss | Taucherstraße 10 | Cunewalde | 01307 | Germany
64 | Rancho grande | Sergio Gutiérrez | Av. del Libertador 900 | Buenos Aires | 1010 | Argentina
65 | Rattlesnake Canyon Grocery | Paula Wilson | 2817 Milton Dr. | Albuquerque | 87110 | USA
66 | Reggiani Caseifici | Maurizio Moroni | Strada Provinciale 124 | Reggio Emilia | 42100 | Italy
67 | Ricardo Adocicados | Janete Limeira | Av. Copacabana, 267 | Rio de Janeiro | 02389-890 | Brazil
68 | Richter Supermarkt | Michael Holz | Grenzacherweg 237 | Genève | 1203 | Switzerland
69 | Romero y tomillo | Alejandra Camino | Gran Vía, 1 | Madrid | 28001 | Spain
70 | Santé Gourmet | Jonas Bergulfsen | Erling Skakkes gate 78 | Stavern | 4110 | Norway
71 | Save-a-lot Markets | Jose Pavarotti | 187 Suffolk Ln. | Boise | 83720 | USA
72 | Seven Seas Imports | Hari Kumar | 90 Wadhurst Rd. | London | OX15 4NB | UK
73 | Simons bistro | Jytte Petersen | Vinbæltet 34 | København | 1734 | Denmark
74 | Spécialités du monde | Dominique Perrier | 25, rue Lauriston | Paris | 75016 | France
75 | Split Rail Beer & Ale | Art Braunschweiger | P.O. Box 555 | Lander | 82520 | USA
76 | Suprêmes délices | Pascale Cartrain | Boulevard Tirou, 255 | Charleroi | B-6000 | Belgium
77 | The Big Cheese | Liz Nixon | 89 Jefferson Way Suite 2 | Portland | 97201 | USA
78 | The Cracker Box | Liu Wong | 55 Grizzly Peak Rd. | Butte | 59801 | USA
79 | Toms Spezialitäten | Karin Josephs | Luisenstr. 48 | Münster | 44087 | Germany
80 | Tortuga Restaurante | Miguel Angel Paolino | Avda. Azteca 123 | México D.F. | 05033 | Mexico
81 | Tradição Hipermercados | Anabela Domingues | Av. Inês de Castro, 414 | São Paulo | 05634-030 | Brazil
82 | Trail's Head Gourmet Provisioners | Helvetius Nagy | 722 DaVinci Blvd. | Kirkland | 98034 | USA
83 | Vaffeljernet | Palle Ibsen | Smagsløget 45 | Århus | 8200 | Denmark
84 | Victuailles en stock | Mary Saveley | 2, rue du Commerce | Lyon | 69004 | France
85 | Vins et alcools Chevalier | Paul Henriot | 59 rue de l'Abbaye | Reims | 51100 | France
86 | Die Wandernde Kuh | Rita Müller | Adenauerallee 900 | Stuttgart | 70563 | Germany
87 | Wartian Herkku | Pirkko Koskitalo | Torikatu 38 | Oulu | 90110 | Finland
88 | Wellington Importadora | Paula Parente | Rua do Mercado, 12 | Resende | 08737-363 | Brazil
89 | White Clover Markets | Karl Jablonski | 305 - 14th Ave. S. Suite 3B | Seattle | 98128 | USA
90 | Wilman Kala | Matti Karttunen | Keskuskatu 45 | Helsinki | 21240 | Finland
91 | Wolski | Zbyszek | ul. Filtrowa 68 | Walla | 01-012 | Poland

### NOT BETWEEN

In [47]:
cursor.execute("SELECT * FROM Customers WHERE CustomerID NOT BETWEEN 10 AND 60;")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
1 | Alfreds Futterkiste | Maria Anders | Obere Str. 57 | Berlin | 12209 | Germany
2 | Ana Trujillo Emparedados y helados | Ana Trujillo | Avda. de la Constitución 2222 | México D.F. | 05021 | Mexico
3 | Antonio Moreno Taquería | Antonio Moreno | Mataderos 2312 | México D.F. | 05023 | Mexico
4 | Around the Horn | Thomas Hardy | 120 Hanover Sq. | London | WA1 1DP | UK
5 | Berglunds snabbköp | Christina Berglund | Berguvsvägen 8 | Luleå | S-958 22 | Sweden
6 | Blauer See Delikatessen | Hanna Moos | Forsterstr. 57 | Mannheim | 68306 | Germany
7 | Blondel père et fils | Frédérique Citeaux | 24, place Kléber | Strasbourg | 67000 | France
8 | Bólido Comidas preparadas | Martín Sommer | C/ Araquil, 67 | Madrid | 28023 | Spain
9 | Bon app' | Laurence Lebihans | 12, rue des Bouchers | Marseille | 13008 | France
61 | Que Delícia | Bernardo Batista | Rua da Panificadora, 12 | Rio de Janeiro | 02389-673 | Brazil
62 | Queen Cozinha | Lúcia Carvalho | Alameda dos Canàrios, 891 | São Paulo | 05487-020 | Brazil
63 | QUICK-Stop | Horst Kloss | Taucherstraße 10 | Cunewalde | 01307 | Germany
64 | Rancho grande | Sergio Gutiérrez | Av. del Libertador 900 | Buenos Aires | 1010 | Argentina
65 | Rattlesnake Canyon Grocery | Paula Wilson | 2817 Milton Dr. | Albuquerque | 87110 | USA
66 | Reggiani Caseifici | Maurizio Moroni | Strada Provinciale 124 | Reggio Emilia | 42100 | Italy
67 | Ricardo Adocicados | Janete Limeira | Av. Copacabana, 267 | Rio de Janeiro | 02389-890 | Brazil
68 | Richter Supermarkt | Michael Holz | Grenzacherweg 237 | Genève | 1203 | Switzerland
69 | Romero y tomillo | Alejandra Camino | Gran Vía, 1 | Madrid | 28001 | Spain
70 | Santé Gourmet | Jonas Bergulfsen | Erling Skakkes gate 78 | Stavern | 4110 | Norway
71 | Save-a-lot Markets | Jose Pavarotti | 187 Suffolk Ln. | Boise | 83720 | USA
72 | Seven Seas Imports | Hari Kumar | 90 Wadhurst Rd. | London | OX15 4NB | UK
73 | Simons bistro | Jytte Petersen | Vinbæltet 34 | København | 1734 | Denmark
74 | Spécialités du monde | Dominique Perrier | 25, rue Lauriston | Paris | 75016 | France
75 | Split Rail Beer & Ale | Art Braunschweiger | P.O. Box 555 | Lander | 82520 | USA
76 | Suprêmes délices | Pascale Cartrain | Boulevard Tirou, 255 | Charleroi | B-6000 | Belgium
77 | The Big Cheese | Liz Nixon | 89 Jefferson Way Suite 2 | Portland | 97201 | USA
78 | The Cracker Box | Liu Wong | 55 Grizzly Peak Rd. | Butte | 59801 | USA
79 | Toms Spezialitäten | Karin Josephs | Luisenstr. 48 | Münster | 44087 | Germany
80 | Tortuga Restaurante | Miguel Angel Paolino | Avda. Azteca 123 | México D.F. | 05033 | Mexico
81 | Tradição Hipermercados | Anabela Domingues | Av. Inês de Castro, 414 | São Paulo | 05634-030 | Brazil
82 | Trail's Head Gourmet Provisioners | Helvetius Nagy | 722 DaVinci Blvd. | Kirkland | 98034 | USA
83 | Vaffeljernet | Palle Ibsen | Smagsløget 45 | Århus | 8200 | Denmark
84 | Victuailles en stock | Mary Saveley | 2, rue du Commerce | Lyon | 69004 | France
85 | Vins et alcools Chevalier | Paul Henriot | 59 rue de l'Abbaye | Reims | 51100 | France
86 | Die Wandernde Kuh | Rita Müller | Adenauerallee 900 | Stuttgart | 70563 | Germany
87 | Wartian Herkku | Pirkko Koskitalo | Torikatu 38 | Oulu | 90110 | Finland
88 | Wellington Importadora | Paula Parente | Rua do Mercado, 12 | Resende | 08737-363 | Brazil
89 | White Clover Markets | Karl Jablonski | 305 - 14th Ave. S. Suite 3B | Seattle | 98128 | USA
90 | Wilman Kala | Matti Karttunen | Keskuskatu 45 | Helsinki | 21240 | Finland
91 | Wolski | Zbyszek | ul. Filtrowa 68 | Walla | 01-012 | Poland

### NOT IN

In [48]:
cursor.execute("SELECT * FROM Customers WHERE City NOT IN ('Paris', 'London');")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
1 | Alfreds Futterkiste | Maria Anders | Obere Str. 57 | Berlin | 12209 | Germany
2 | Ana Trujillo Emparedados y helados | Ana Trujillo | Avda. de la Constitución 2222 | México D.F. | 05021 | Mexico
3 | Antonio Moreno Taquería | Antonio Moreno | Mataderos 2312 | México D.F. | 05023 | Mexico
5 | Berglunds snabbköp | Christina Berglund | Berguvsvägen 8 | Luleå | S-958 22 | Sweden
6 | Blauer See Delikatessen | Hanna Moos | Forsterstr. 57 | Mannheim | 68306 | Germany
7 | Blondel père et fils | Frédérique Citeaux | 24, place Kléber | Strasbourg | 67000 | France
8 | Bólido Comidas preparadas | Martín Sommer | C/ Araquil, 67 | Madrid | 28023 | Spain
9 | Bon app' | Laurence Lebihans | 12, rue des Bouchers | Marseille | 13008 | France
10 | Bottom-Dollar Marketse | Elizabeth Lincoln | 23 Tsawassen Blvd. | Tsawassen | T2F 8M4 | Canada
12 | Cactus Comidas para llevar | Patricio Simpson | Cerrito 333 | Buenos Aires | 1010 | Argentina
13 | Centro comercial Moctezuma | Francisco Chang | Sierras de Granada 9993 | México D.F. | 05022 | Mexico
14 | Chop-suey Chinese | Yang Wang | Hauptstr. 29 | Bern | 3012 | Switzerland
15 | Comércio Mineiro | Pedro Afonso | Av. dos Lusíadas, 23 | São Paulo | 05432-043 | Brazil
17 | Drachenblut Delikatessend | Sven Ottlieb | Walserweg 21 | Aachen | 52066 | Germany
18 | Du monde entier | Janine Labrune | 67, rue des Cinquante Otages | Nantes | 44000 | France
20 | Ernst Handel | Roland Mendel | Kirchgasse 6 | Graz | 8010 | Austria
21 | Familia Arquibaldo | Aria Cruz | Rua Orós, 92 | São Paulo | 05442-030 | Brazil
22 | FISSA Fabrica Inter. Salchichas S.A. | Diego Roel | C/ Moralzarzal, 86 | Madrid | 28034 | Spain
23 | Folies gourmandes | Martine Rancé | 184, chaussée de Tournai | Lille | 59000 | France
24 | Folk och fä HB | Maria Larsson | Åkergatan 24 | Bräcke | S-844 67 | Sweden
25 | Frankenversand | Peter Franken | Berliner Platz 43 | München | 80805 | Germany
26 | France restauration | Carine Schmitt | 54, rue Royale | Nantes | 44000 | France
27 | Franchi S.p.A. | Paolo Accorti | Via Monte Bianco 34 | Torino | 10100 | Italy
28 | Furia Bacalhau e Frutos do Mar | Lino Rodriguez | Jardim das rosas n. 32 | Lisboa | 1675 | Portugal
29 | Galería del gastrónomo | Eduardo Saavedra | Rambla de Cataluña, 23 | Barcelona | 08022 | Spain
30 | Godos Cocina Típica | José Pedro Freyre | C/ Romero, 33 | Sevilla | 41101 | Spain
31 | Gourmet Lanchonetes | André Fonseca | Av. Brasil, 442 | Campinas | 04876-786 | Brazil
32 | Great Lakes Food Market | Howard Snyder | 2732 Baker Blvd. | Eugene | 97403 | USA
33 | GROSELLA-Restaurante | Manuel Pereira | 5ª Ave. Los Palos Grandes | Caracas | 1081 | Venezuela
34 | Hanari Carnes | Mario Pontes | Rua do Paço, 67 | Rio de Janeiro | 05454-876 | Brazil
35 | HILARIÓN-Abastos | Carlos Hernández | Carrera 22 con Ave. Carlos Soublette #8-35 | San Cristóbal | 5022 | Venezuela
36 | Hungry Coyote Import Store | Yoshi Latimer | City Center Plaza 516 Main St. | Elgin | 97827 | USA
37 | Hungry Owl All-Night Grocers | Patricia McKenna | 8 Johnstown Road | Cork |  | Ireland
38 | Island Trading | Helen Bennett | Garden House Crowther Way | Cowes | PO31 7PJ | UK
39 | Königlich Essen | Philip Cramer | Maubelstr. 90 | Brandenburg | 14776 | Germany
40 | La corne d'abondance | Daniel Tonini | 67, avenue de l'Europe | Versailles | 78000 | France
41 | La maison d'Asie | Annette Roulet | 1 rue Alsace-Lorraine | Toulouse | 31000 | France
42 | Laughing Bacchus Wine Cellars | Yoshi Tannamuri | 1900 Oak St. | Vancouver | V3F 2K1 | Canada
43 | Lazy K Kountry Store | John Steel | 12 Orchestra Terrace | Walla Walla | 99362 | USA
44 | Lehmanns Marktstand | Renate Messner | Magazinweg 7 | Frankfurt a.M. | 60528 | Germany
45 | Let's Stop N Shop | Jaime Yorres | 87 Polk St. Suite 5 | San Francisco | 94117 | USA
46 | LILA-Supermercado | Carlos González | Carrera 52 con Ave. Bolívar #65-98 Llano Largo | Barquisimeto | 3508 | Venezuela
47 | LINO-Delicateses | Felipe Izquierdo | Ave. 5 de Mayo Porlamar | I. de Margarita | 4980 | Venezuela
48 | Lonesome Pine Restaurant | Fran Wilson | 89 Chiaroscuro Rd. | Portland | 97219 | USA
49 | Magazzini Alimentari Riuniti | Giovanni Rovelli | Via Ludovico il Moro 22 | Bergamo | 24100 | Italy
50 | Maison Dewey | Catherine Dewey | Rue Joseph-Bens 532 | Bruxelles | B-1180 | Belgium
51 | Mère Paillarde | Jean Fresnière | 43 rue St. Laurent | Montréal | H1J 1C3 | Canada
52 | Morgenstern Gesundkost | Alexander Feuer | Heerstr. 22 | Leipzig | 04179 | Germany
54 | Océano Atlántico Ltda. | Yvonne Moncada | Ing. Gustavo Moncada 8585 Piso 20-A | Buenos Aires | 1010 | Argentina
55 | Old World Delicatessen | Rene Phillips | 2743 Bering St. | Anchorage | 99508 | USA
56 | Ottilies Käseladen | Henriette Pfalzheim | Mehrheimerstr. 369 | Köln | 50739 | Germany
58 | Pericles Comidas clásicas | Guillermo Fernández | Calle Dr. Jorge Cash 321 | México D.F. | 05033 | Mexico
59 | Piccolo und mehr | Georg Pipps | Geislweg 14 | Salzburg | 5020 | Austria
60 | Princesa Isabel Vinhoss | Isabel de Castro | Estrada da saúde n. 58 | Lisboa | 1756 | Portugal
61 | Que Delícia | Bernardo Batista | Rua da Panificadora, 12 | Rio de Janeiro | 02389-673 | Brazil
62 | Queen Cozinha | Lúcia Carvalho | Alameda dos Canàrios, 891 | São Paulo | 05487-020 | Brazil
63 | QUICK-Stop | Horst Kloss | Taucherstraße 10 | Cunewalde | 01307 | Germany
64 | Rancho grande | Sergio Gutiérrez | Av. del Libertador 900 | Buenos Aires | 1010 | Argentina
65 | Rattlesnake Canyon Grocery | Paula Wilson | 2817 Milton Dr. | Albuquerque | 87110 | USA
66 | Reggiani Caseifici | Maurizio Moroni | Strada Provinciale 124 | Reggio Emilia | 42100 | Italy
67 | Ricardo Adocicados | Janete Limeira | Av. Copacabana, 267 | Rio de Janeiro | 02389-890 | Brazil
68 | Richter Supermarkt | Michael Holz | Grenzacherweg 237 | Genève | 1203 | Switzerland
69 | Romero y tomillo | Alejandra Camino | Gran Vía, 1 | Madrid | 28001 | Spain
70 | Santé Gourmet | Jonas Bergulfsen | Erling Skakkes gate 78 | Stavern | 4110 | Norway
71 | Save-a-lot Markets | Jose Pavarotti | 187 Suffolk Ln. | Boise | 83720 | USA
73 | Simons bistro | Jytte Petersen | Vinbæltet 34 | København | 1734 | Denmark
75 | Split Rail Beer & Ale | Art Braunschweiger | P.O. Box 555 | Lander | 82520 | USA
76 | Suprêmes délices | Pascale Cartrain | Boulevard Tirou, 255 | Charleroi | B-6000 | Belgium
77 | The Big Cheese | Liz Nixon | 89 Jefferson Way Suite 2 | Portland | 97201 | USA
78 | The Cracker Box | Liu Wong | 55 Grizzly Peak Rd. | Butte | 59801 | USA
79 | Toms Spezialitäten | Karin Josephs | Luisenstr. 48 | Münster | 44087 | Germany
80 | Tortuga Restaurante | Miguel Angel Paolino | Avda. Azteca 123 | México D.F. | 05033 | Mexico
81 | Tradição Hipermercados | Anabela Domingues | Av. Inês de Castro, 414 | São Paulo | 05634-030 | Brazil
82 | Trail's Head Gourmet Provisioners | Helvetius Nagy | 722 DaVinci Blvd. | Kirkland | 98034 | USA
83 | Vaffeljernet | Palle Ibsen | Smagsløget 45 | Århus | 8200 | Denmark
84 | Victuailles en stock | Mary Saveley | 2, rue du Commerce | Lyon | 69004 | France
85 | Vins et alcools Chevalier | Paul Henriot | 59 rue de l'Abbaye | Reims | 51100 | France
86 | Die Wandernde Kuh | Rita Müller | Adenauerallee 900 | Stuttgart | 70563 | Germany
87 | Wartian Herkku | Pirkko Koskitalo | Torikatu 38 | Oulu | 90110 | Finland
88 | Wellington Importadora | Paula Parente | Rua do Mercado, 12 | Resende | 08737-363 | Brazil
89 | White Clover Markets | Karl Jablonski | 305 - 14th Ave. S. Suite 3B | Seattle | 98128 | USA
90 | Wilman Kala | Matti Karttunen | Keskuskatu 45 | Helsinki | 21240 | Finland
91 | Wolski | Zbyszek | ul. Filtrowa 68 | Walla | 01-012 | Poland

### NOT Greater Than

In [49]:
cursor.execute("SELECT * FROM Customers WHERE NOT CustomerID > 50;")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
1 | Alfreds Futterkiste | Maria Anders | Obere Str. 57 | Berlin | 12209 | Germany
2 | Ana Trujillo Emparedados y helados | Ana Trujillo | Avda. de la Constitución 2222 | México D.F. | 05021 | Mexico
3 | Antonio Moreno Taquería | Antonio Moreno | Mataderos 2312 | México D.F. | 05023 | Mexico
4 | Around the Horn | Thomas Hardy | 120 Hanover Sq. | London | WA1 1DP | UK
5 | Berglunds snabbköp | Christina Berglund | Berguvsvägen 8 | Luleå | S-958 22 | Sweden
6 | Blauer See Delikatessen | Hanna Moos | Forsterstr. 57 | Mannheim | 68306 | Germany
7 | Blondel père et fils | Frédérique Citeaux | 24, place Kléber | Strasbourg | 67000 | France
8 | Bólido Comidas preparadas | Martín Sommer | C/ Araquil, 67 | Madrid | 28023 | Spain
9 | Bon app' | Laurence Lebihans | 12, rue des Bouchers | Marseille | 13008 | France
10 | Bottom-Dollar Marketse | Elizabeth Lincoln | 23 Tsawassen Blvd. | Tsawassen | T2F 8M4 | Canada
11 | B's Beverages | Victoria Ashworth | Fauntleroy Circus | London | EC2 5NT | UK
12 | Cactus Comidas para llevar | Patricio Simpson | Cerrito 333 | Buenos Aires | 1010 | Argentina
13 | Centro comercial Moctezuma | Francisco Chang | Sierras de Granada 9993 | México D.F. | 05022 | Mexico
14 | Chop-suey Chinese | Yang Wang | Hauptstr. 29 | Bern | 3012 | Switzerland
15 | Comércio Mineiro | Pedro Afonso | Av. dos Lusíadas, 23 | São Paulo | 05432-043 | Brazil
16 | Consolidated Holdings | Elizabeth Brown | Berkeley Gardens 12 Brewery | London | WX1 6LT | UK
17 | Drachenblut Delikatessend | Sven Ottlieb | Walserweg 21 | Aachen | 52066 | Germany
18 | Du monde entier | Janine Labrune | 67, rue des Cinquante Otages | Nantes | 44000 | France
19 | Eastern Connection | Ann Devon | 35 King George | London | WX3 6FW | UK
20 | Ernst Handel | Roland Mendel | Kirchgasse 6 | Graz | 8010 | Austria
21 | Familia Arquibaldo | Aria Cruz | Rua Orós, 92 | São Paulo | 05442-030 | Brazil
22 | FISSA Fabrica Inter. Salchichas S.A. | Diego Roel | C/ Moralzarzal, 86 | Madrid | 28034 | Spain
23 | Folies gourmandes | Martine Rancé | 184, chaussée de Tournai | Lille | 59000 | France
24 | Folk och fä HB | Maria Larsson | Åkergatan 24 | Bräcke | S-844 67 | Sweden
25 | Frankenversand | Peter Franken | Berliner Platz 43 | München | 80805 | Germany
26 | France restauration | Carine Schmitt | 54, rue Royale | Nantes | 44000 | France
27 | Franchi S.p.A. | Paolo Accorti | Via Monte Bianco 34 | Torino | 10100 | Italy
28 | Furia Bacalhau e Frutos do Mar | Lino Rodriguez | Jardim das rosas n. 32 | Lisboa | 1675 | Portugal
29 | Galería del gastrónomo | Eduardo Saavedra | Rambla de Cataluña, 23 | Barcelona | 08022 | Spain
30 | Godos Cocina Típica | José Pedro Freyre | C/ Romero, 33 | Sevilla | 41101 | Spain
31 | Gourmet Lanchonetes | André Fonseca | Av. Brasil, 442 | Campinas | 04876-786 | Brazil
32 | Great Lakes Food Market | Howard Snyder | 2732 Baker Blvd. | Eugene | 97403 | USA
33 | GROSELLA-Restaurante | Manuel Pereira | 5ª Ave. Los Palos Grandes | Caracas | 1081 | Venezuela
34 | Hanari Carnes | Mario Pontes | Rua do Paço, 67 | Rio de Janeiro | 05454-876 | Brazil
35 | HILARIÓN-Abastos | Carlos Hernández | Carrera 22 con Ave. Carlos Soublette #8-35 | San Cristóbal | 5022 | Venezuela
36 | Hungry Coyote Import Store | Yoshi Latimer | City Center Plaza 516 Main St. | Elgin | 97827 | USA
37 | Hungry Owl All-Night Grocers | Patricia McKenna | 8 Johnstown Road | Cork |  | Ireland
38 | Island Trading | Helen Bennett | Garden House Crowther Way | Cowes | PO31 7PJ | UK
39 | Königlich Essen | Philip Cramer | Maubelstr. 90 | Brandenburg | 14776 | Germany
40 | La corne d'abondance | Daniel Tonini | 67, avenue de l'Europe | Versailles | 78000 | France
41 | La maison d'Asie | Annette Roulet | 1 rue Alsace-Lorraine | Toulouse | 31000 | France
42 | Laughing Bacchus Wine Cellars | Yoshi Tannamuri | 1900 Oak St. | Vancouver | V3F 2K1 | Canada
43 | Lazy K Kountry Store | John Steel | 12 Orchestra Terrace | Walla Walla | 99362 | USA
44 | Lehmanns Marktstand | Renate Messner | Magazinweg 7 | Frankfurt a.M. | 60528 | Germany
45 | Let's Stop N Shop | Jaime Yorres | 87 Polk St. Suite 5 | San Francisco | 94117 | USA
46 | LILA-Supermercado | Carlos González | Carrera 52 con Ave. Bolívar #65-98 Llano Largo | Barquisimeto | 3508 | Venezuela
47 | LINO-Delicateses | Felipe Izquierdo | Ave. 5 de Mayo Porlamar | I. de Margarita | 4980 | Venezuela
48 | Lonesome Pine Restaurant | Fran Wilson | 89 Chiaroscuro Rd. | Portland | 97219 | USA
49 | Magazzini Alimentari Riuniti | Giovanni Rovelli | Via Ludovico il Moro 22 | Bergamo | 24100 | Italy
50 | Maison Dewey | Catherine Dewey | Rue Joseph-Bens 532 | Bruxelles | B-1180 | Belgium

### NOT Less Than

In [51]:
cursor.execute("SELECT * FROM Customers WHERE NOT CustomerId < 50;")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
50 | Maison Dewey | Catherine Dewey | Rue Joseph-Bens 532 | Bruxelles | B-1180 | Belgium
51 | Mère Paillarde | Jean Fresnière | 43 rue St. Laurent | Montréal | H1J 1C3 | Canada
52 | Morgenstern Gesundkost | Alexander Feuer | Heerstr. 22 | Leipzig | 04179 | Germany
53 | North/South | Simon Crowther | South House 300 Queensbridge | London | SW7 1RZ | UK
54 | Océano Atlántico Ltda. | Yvonne Moncada | Ing. Gustavo Moncada 8585 Piso 20-A | Buenos Aires | 1010 | Argentina
55 | Old World Delicatessen | Rene Phillips | 2743 Bering St. | Anchorage | 99508 | USA
56 | Ottilies Käseladen | Henriette Pfalzheim | Mehrheimerstr. 369 | Köln | 50739 | Germany
57 | Paris spécialités | Marie Bertrand | 265, boulevard Charonne | Paris | 75012 | France
58 | Pericles Comidas clásicas | Guillermo Fernández | Calle Dr. Jorge Cash 321 | México D.F. | 05033 | Mexico
59 | Piccolo und mehr | Georg Pipps | Geislweg 14 | Salzburg | 5020 | Austria
60 | Princesa Isabel Vinhoss | Isabel de Castro | Estrada da saúde n. 58 | Lisboa | 1756 | Portugal
61 | Que Delícia | Bernardo Batista | Rua da Panificadora, 12 | Rio de Janeiro | 02389-673 | Brazil
62 | Queen Cozinha | Lúcia Carvalho | Alameda dos Canàrios, 891 | São Paulo | 05487-020 | Brazil
63 | QUICK-Stop | Horst Kloss | Taucherstraße 10 | Cunewalde | 01307 | Germany
64 | Rancho grande | Sergio Gutiérrez | Av. del Libertador 900 | Buenos Aires | 1010 | Argentina
65 | Rattlesnake Canyon Grocery | Paula Wilson | 2817 Milton Dr. | Albuquerque | 87110 | USA
66 | Reggiani Caseifici | Maurizio Moroni | Strada Provinciale 124 | Reggio Emilia | 42100 | Italy
67 | Ricardo Adocicados | Janete Limeira | Av. Copacabana, 267 | Rio de Janeiro | 02389-890 | Brazil
68 | Richter Supermarkt | Michael Holz | Grenzacherweg 237 | Genève | 1203 | Switzerland
69 | Romero y tomillo | Alejandra Camino | Gran Vía, 1 | Madrid | 28001 | Spain
70 | Santé Gourmet | Jonas Bergulfsen | Erling Skakkes gate 78 | Stavern | 4110 | Norway
71 | Save-a-lot Markets | Jose Pavarotti | 187 Suffolk Ln. | Boise | 83720 | USA
72 | Seven Seas Imports | Hari Kumar | 90 Wadhurst Rd. | London | OX15 4NB | UK
73 | Simons bistro | Jytte Petersen | Vinbæltet 34 | København | 1734 | Denmark
74 | Spécialités du monde | Dominique Perrier | 25, rue Lauriston | Paris | 75016 | France
75 | Split Rail Beer & Ale | Art Braunschweiger | P.O. Box 555 | Lander | 82520 | USA
76 | Suprêmes délices | Pascale Cartrain | Boulevard Tirou, 255 | Charleroi | B-6000 | Belgium
77 | The Big Cheese | Liz Nixon | 89 Jefferson Way Suite 2 | Portland | 97201 | USA
78 | The Cracker Box | Liu Wong | 55 Grizzly Peak Rd. | Butte | 59801 | USA
79 | Toms Spezialitäten | Karin Josephs | Luisenstr. 48 | Münster | 44087 | Germany
80 | Tortuga Restaurante | Miguel Angel Paolino | Avda. Azteca 123 | México D.F. | 05033 | Mexico
81 | Tradição Hipermercados | Anabela Domingues | Av. Inês de Castro, 414 | São Paulo | 05634-030 | Brazil
82 | Trail's Head Gourmet Provisioners | Helvetius Nagy | 722 DaVinci Blvd. | Kirkland | 98034 | USA
83 | Vaffeljernet | Palle Ibsen | Smagsløget 45 | Århus | 8200 | Denmark
84 | Victuailles en stock | Mary Saveley | 2, rue du Commerce | Lyon | 69004 | France
85 | Vins et alcools Chevalier | Paul Henriot | 59 rue de l'Abbaye | Reims | 51100 | France
86 | Die Wandernde Kuh | Rita Müller | Adenauerallee 900 | Stuttgart | 70563 | Germany
87 | Wartian Herkku | Pirkko Koskitalo | Torikatu 38 | Oulu | 90110 | Finland
88 | Wellington Importadora | Paula Parente | Rua do Mercado, 12 | Resende | 08737-363 | Brazil
89 | White Clover Markets | Karl Jablonski | 305 - 14th Ave. S. Suite 3B | Seattle | 98128 | USA
90 | Wilman Kala | Matti Karttunen | Keskuskatu 45 | Helsinki | 21240 | Finland
91 | Wolski | Zbyszek | ul. Filtrowa 68 | Walla | 01-012 | Poland

## SQL Insert Into

### INSERT INTO Example

In [ ]:
cursor.execute("INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country) VALUES ('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway');")

conn.commit()

cursor.execute("""
SELECT *
FROM Customers
WHERE CustomerName = 'Cardinal';
""")

for row in cursor.fetchall():
    print(" | ".join(map(str, row)))

92 | Cardinal | Tom B. Erichsen | Skagen 21 | Stavanger | 4006 | Norway
93 | Cardinal | Tom B. Erichsen | Skagen 21 | Stavanger | 4006 | Norway
94 | Cardinal | Tom B. Erichsen | Skagen 21 | Stavanger | 4006 | Norway

### Insert Data Only in Specified Columns

In [56]:
cursor.execute("INSERT INTO Customers (CustomerName, City, Country) VALUES ('Cardinal', 'Stavanger', 'Norway');")

conn.commit()

cursor.execute("""
SELECT *
FROM Customers
WHERE CustomerName = 'Cardinal';
""")

for row in cursor.fetchall():
    print(" | ".join(map(str, row)))

92 | Cardinal | Tom B. Erichsen | Skagen 21 | Stavanger | 4006 | Norway
93 | Cardinal | Tom B. Erichsen | Skagen 21 | Stavanger | 4006 | Norway
94 | Cardinal | Tom B. Erichsen | Skagen 21 | Stavanger | 4006 | Norway
95 | Cardinal | None | None | Stavanger | None | Norway

### Insert Multiple Rows

In [ ]:
cursor.execute("INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country) VALUES ('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway'), ('Greasy Burger', 'Per Olsen', 'Gateveien 15', 'Sandnes', '4306', 'Norway'), ('Tasty Tee', 'Finn Egan', 'Streetroad 19B', 'Liverpool', 'L1 0AA', 'UK');")

conn.commit()

cursor.execute("""
SELECT *
FROM Customers
WHERE CustomerName IN ('Cardinal', 'Greasy Burger', 'Tasty Tee');
""")

for row in cursor.fetchall():
    print(" | ".join(map(str, row)))

92 | Cardinal | Tom B. Erichsen | Skagen 21 | Stavanger | 4006 | Norway
93 | Cardinal | Tom B. Erichsen | Skagen 21 | Stavanger | 4006 | Norway
94 | Cardinal | Tom B. Erichsen | Skagen 21 | Stavanger | 4006 | Norway
95 | Cardinal | None | None | Stavanger | None | Norway
96 | Cardinal | Tom B. Erichsen | Skagen 21 | Stavanger | 4006 | Norway
97 | Greasy Burger | Per Olsen | Gateveien 15 | Sandnes | 4306 | Norway
98 | Tasty Tee | Finn Egan | Streetroad 19B | Liverpool | L1 0AA | UK

## SQL Null Values

### The IS NULL Operator

In [60]:
cursor.execute('''SELECT CustomerName, ContactName, Address
FROM Customers
WHERE Address IS NULL; ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerName | ContactName | Address
----------------------------------------
Cardinal | None | None

### The IS NOT NULL Operator

In [61]:
cursor.execute(''' SELECT CustomerName, ContactName, Address
FROM Customers
WHERE Address IS NOT NULL; ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerName | ContactName | Address
----------------------------------------
Alfreds Futterkiste | Maria Anders | Obere Str. 57
Ana Trujillo Emparedados y helados | Ana Trujillo | Avda. de la Constitución 2222
Antonio Moreno Taquería | Antonio Moreno | Mataderos 2312
Around the Horn | Thomas Hardy | 120 Hanover Sq.
Berglunds snabbköp | Christina Berglund | Berguvsvägen 8
Blauer See Delikatessen | Hanna Moos | Forsterstr. 57
Blondel père et fils | Frédérique Citeaux | 24, place Kléber
Bólido Comidas preparadas | Martín Sommer | C/ Araquil, 67
Bon app' | Laurence Lebihans | 12, rue des Bouchers
Bottom-Dollar Marketse | Elizabeth Lincoln | 23 Tsawassen Blvd.
B's Beverages | Victoria Ashworth | Fauntleroy Circus
Cactus Comidas para llevar | Patricio Simpson | Cerrito 333
Centro comercial Moctezuma | Francisco Chang | Sierras de Granada 9993
Chop-suey Chinese | Yang Wang | Hauptstr. 29
Comércio Mineiro | Pedro Afonso | Av. dos Lusíadas, 23
Consolidated Holdings | Elizabeth Brown | Berkeley Gardens 12 Brewery
Drachenblut Delikatessend | Sven Ottlieb | Walserweg 21
Du monde entier | Janine Labrune | 67, rue des Cinquante Otages
Eastern Connection | Ann Devon | 35 King George
Ernst Handel | Roland Mendel | Kirchgasse 6
Familia Arquibaldo | Aria Cruz | Rua Orós, 92
FISSA Fabrica Inter. Salchichas S.A. | Diego Roel | C/ Moralzarzal, 86
Folies gourmandes | Martine Rancé | 184, chaussée de Tournai
Folk och fä HB | Maria Larsson | Åkergatan 24
Frankenversand | Peter Franken | Berliner Platz 43
France restauration | Carine Schmitt | 54, rue Royale
Franchi S.p.A. | Paolo Accorti | Via Monte Bianco 34
Furia Bacalhau e Frutos do Mar | Lino Rodriguez | Jardim das rosas n. 32
Galería del gastrónomo | Eduardo Saavedra | Rambla de Cataluña, 23
Godos Cocina Típica | José Pedro Freyre | C/ Romero, 33
Gourmet Lanchonetes | André Fonseca | Av. Brasil, 442
Great Lakes Food Market | Howard Snyder | 2732 Baker Blvd.
GROSELLA-Restaurante | Manuel Pereira | 5ª Ave. Los Palos Grandes
Hanari Carnes | Mario Pontes | Rua do Paço, 67
HILARIÓN-Abastos | Carlos Hernández | Carrera 22 con Ave. Carlos Soublette #8-35
Hungry Coyote Import Store | Yoshi Latimer | City Center Plaza 516 Main St.
Hungry Owl All-Night Grocers | Patricia McKenna | 8 Johnstown Road
Island Trading | Helen Bennett | Garden House Crowther Way
Königlich Essen | Philip Cramer | Maubelstr. 90
La corne d'abondance | Daniel Tonini | 67, avenue de l'Europe
La maison d'Asie | Annette Roulet | 1 rue Alsace-Lorraine
Laughing Bacchus Wine Cellars | Yoshi Tannamuri | 1900 Oak St.
Lazy K Kountry Store | John Steel | 12 Orchestra Terrace
Lehmanns Marktstand | Renate Messner | Magazinweg 7
Let's Stop N Shop | Jaime Yorres | 87 Polk St. Suite 5
LILA-Supermercado | Carlos González | Carrera 52 con Ave. Bolívar #65-98 Llano Largo
LINO-Delicateses | Felipe Izquierdo | Ave. 5 de Mayo Porlamar
Lonesome Pine Restaurant | Fran Wilson | 89 Chiaroscuro Rd.
Magazzini Alimentari Riuniti | Giovanni Rovelli | Via Ludovico il Moro 22
Maison Dewey | Catherine Dewey | Rue Joseph-Bens 532
Mère Paillarde | Jean Fresnière | 43 rue St. Laurent
Morgenstern Gesundkost | Alexander Feuer | Heerstr. 22
North/South | Simon Crowther | South House 300 Queensbridge
Océano Atlántico Ltda. | Yvonne Moncada | Ing. Gustavo Moncada 8585 Piso 20-A
Old World Delicatessen | Rene Phillips | 2743 Bering St.
Ottilies Käseladen | Henriette Pfalzheim | Mehrheimerstr. 369
Paris spécialités | Marie Bertrand | 265, boulevard Charonne
Pericles Comidas clásicas | Guillermo Fernández | Calle Dr. Jorge Cash 321
Piccolo und mehr | Georg Pipps | Geislweg 14
Princesa Isabel Vinhoss | Isabel de Castro | Estrada da saúde n. 58
Que Delícia | Bernardo Batista | Rua da Panificadora, 12
Queen Cozinha | Lúcia Carvalho | Alameda dos Canàrios, 891
QUICK-Stop | Horst Kloss | Taucherstraße 10
Rancho grande | Sergio Gutiérrez | Av. del Libertador 900
Rattlesnake Canyon Grocery | Paula Wilson | 2817 Milton Dr.
Reggiani Caseifici | Maurizio Moroni | Strada Provinciale 124
Ricardo Adocicados | Janete Limeira | Av. Copacabana, 267
Richter Supermarkt | Michael Holz | Grenzacherweg 237
Romero y tomillo | Alejandra Camino | Gran Vía, 1
Santé Gourmet | Jonas Bergulfsen | Erling Skakkes gate 78
Save-a-lot Markets | Jose Pavarotti | 187 Suffolk Ln.
Seven Seas Imports | Hari Kumar | 90 Wadhurst Rd.
Simons bistro | Jytte Petersen | Vinbæltet 34
Spécialités du monde | Dominique Perrier | 25, rue Lauriston
Split Rail Beer & Ale | Art Braunschweiger | P.O. Box 555
Suprêmes délices | Pascale Cartrain | Boulevard Tirou, 255
The Big Cheese | Liz Nixon | 89 Jefferson Way Suite 2
The Cracker Box | Liu Wong | 55 Grizzly Peak Rd.
Toms Spezialitäten | Karin Josephs | Luisenstr. 48
Tortuga Restaurante | Miguel Angel Paolino | Avda. Azteca 123
Tradição Hipermercados | Anabela Domingues | Av. Inês de Castro, 414
Trail's Head Gourmet Provisioners | Helvetius Nagy | 722 DaVinci Blvd.
Vaffeljernet | Palle Ibsen | Smagsløget 45
Victuailles en stock | Mary Saveley | 2, rue du Commerce
Vins et alcools Chevalier | Paul Henriot | 59 rue de l'Abbaye
Die Wandernde Kuh | Rita Müller | Adenauerallee 900
Wartian Herkku | Pirkko Koskitalo | Torikatu 38
Wellington Importadora | Paula Parente | Rua do Mercado, 12
White Clover Markets | Karl Jablonski | 305 - 14th Ave. S. Suite 3B
Wilman Kala | Matti Karttunen | Keskuskatu 45
Wolski | Zbyszek | ul. Filtrowa 68
Cardinal | Tom B. Erichsen | Skagen 21
Cardinal | Tom B. Erichsen | Skagen 21
Cardinal | Tom B. Erichsen | Skagen 21
Cardinal | Tom B. Erichsen | Skagen 21
Greasy Burger | Per Olsen | Gateveien 15
Tasty Tee | Finn Egan | Streetroad 19B

## SQL Update

### UPDATE Table

In [62]:
cursor.execute(''' UPDATE Customers
SET ContactName = 'Alfred Schmidt', City= 'Frankfurt'
WHERE CustomerID = 1; ''')

conn.commit()

cursor.execute("""
SELECT CustomerID, CustomerName, ContactName, City
FROM Customers
WHERE CustomerID = 1;
""")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

print(" | ".join(columns))
print("-" * 50)

for row in rows:
    print(" | ".join(map(str, row)))

CustomerID | CustomerName | ContactName | City
--------------------------------------------------
1 | Alfreds Futterkiste | Alfred Schmidt | Frankfurt

### UPDATE Multiple Records

In [64]:
cursor.execute(''' UPDATE Customers
SET ContactName='Juan'
WHERE Country='Mexico'; ''')

conn.commit()

cursor.execute("""
SELECT CustomerID, CustomerName, ContactName, City
FROM Customers
WHERE Country='Mexico';
""")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

print(" | ".join(columns))
print("-" * 50)

for row in rows:
    print(" | ".join(map(str, row)))

CustomerID | CustomerName | ContactName | City
--------------------------------------------------
2 | Ana Trujillo Emparedados y helados | Juan | México D.F.
3 | Antonio Moreno Taquería | Juan | México D.F.
13 | Centro comercial Moctezuma | Juan | México D.F.
58 | Pericles Comidas clásicas | Juan | México D.F.
80 | Tortuga Restaurante | Juan | México D.F.

### Update Warning!

In [ ]:
# cursor.execute(''' UPDATE Customers
# SET ContactName='Juan'; ''')

# conn.commit()

## SQL Delete

### SQL DELETE Example

In [65]:
cursor.execute(''' DELETE FROM Customers WHERE CustomerName='Alfreds Futterkiste'; ''')

conn.commit()

cursor.execute("""
SELECT *
FROM Customers
WHERE CustomerName='Alfreds Futterkiste';
""")

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

print(" | ".join(columns))
print("-" * 50)

for row in rows:
    print(" | ".join(map(str, row)))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
--------------------------------------------------

### Delete All Records

In [ ]:
# cursor.execute(''' DELETE FROM Customers;''')

# conn.commit()

### Delete a Table

In [ ]:
# cursor.execute(''' drop table Customers;''')

# conn.commit()

## SQL Select Top

### LIMIT

In [68]:
cursor.execute(''' SELECT * FROM Customers
LIMIT 3; ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
2 | Ana Trujillo Emparedados y helados | Juan | Avda. de la Constitución 2222 | México D.F. | 05021 | Mexico
3 | Antonio Moreno Taquería | Juan | Mataderos 2312 | México D.F. | 05023 | Mexico
4 | Around the Horn | Thomas Hardy | 120 Hanover Sq. | London | WA1 1DP | UK

### ADD a WHERE CLAUSE

In [70]:
cursor.execute(''' SELECT * FROM Customers
WHERE Country='Germany'
LIMIT 3; ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
6 | Blauer See Delikatessen | Hanna Moos | Forsterstr. 57 | Mannheim | 68306 | Germany
17 | Drachenblut Delikatessend | Sven Ottlieb | Walserweg 21 | Aachen | 52066 | Germany
25 | Frankenversand | Peter Franken | Berliner Platz 43 | München | 80805 | Germany

### ADD the ORDER BY Keyword

In [71]:
cursor.execute(''' SELECT * FROM Customers
ORDER BY CustomerName DESC
LIMIT 3; ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
91 | Wolski | Zbyszek | ul. Filtrowa 68 | Walla | 01-012 | Poland
90 | Wilman Kala | Matti Karttunen | Keskuskatu 45 | Helsinki | 21240 | Finland
89 | White Clover Markets | Karl Jablonski | 305 - 14th Ave. S. Suite 3B | Seattle | 98128 | USA

## SQL Min and Max

### The SQL MIN() and MAX() Functions

In [72]:
cursor.execute(''' SELECT MIN(Price)
FROM Products; ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

MIN(Price)
----------------------------------------
2.5

In [73]:
cursor.execute(''' SELECT MAX(Price)
FROM Products; ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

MAX(Price)
----------------------------------------
263.5

### Set Column Name (Alias)

In [74]:
cursor.execute(''' SELECT MIN(Price) AS SmallestPrice
FROM Products; ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

SmallestPrice
----------------------------------------
2.5

### Use MIN() with GROUP BY

In [75]:
cursor.execute(''' SELECT MIN(Price) AS SmallestPrice, CategoryID
FROM Products
GROUP BY CategoryID; ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

SmallestPrice | CategoryID
----------------------------------------
4.5 | 1
10 | 2
9.2 | 3
2.5 | 4
7 | 5
7.45 | 6
10 | 7
6 | 8

## SQL Count

### The SQL COUNT() Function

In [76]:
cursor.execute(''' SELECT COUNT(*)
FROM Products; ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

COUNT(*)
----------------------------------------
77

### Specify Column

In [77]:
cursor.execute(''' SELECT COUNT(ProductName)
FROM Products; ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

COUNT(ProductName)
----------------------------------------
77

### Add a WHERE Clause

In [78]:
cursor.execute(''' SELECT COUNT(ProductID)
FROM Products
WHERE Price > 20; ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

COUNT(ProductID)
----------------------------------------
37

### Ignore Duplicates

In [80]:
cursor.execute(''' SELECT COUNT(DISTINCT Price)
FROM Products; ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

COUNT(DISTINCT Price)
----------------------------------------
62

### Use an Alias

In [81]:
cursor.execute(''' SELECT COUNT(*) AS [Number of records]
FROM Products; ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

Number of records
----------------------------------------
77

### Use COUNT() with GROUP BY

In [82]:
cursor.execute(''' SELECT COUNT(*) AS [Number of records], CategoryID
FROM Products
GROUP BY CategoryID; ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

Number of records | CategoryID
----------------------------------------
12 | 1
12 | 2
13 | 3
10 | 4
7 | 5
6 | 6
5 | 7
12 | 8

## SQL Sum

### The SQL SUM() Function

In [83]:
cursor.execute(''' SELECT SUM(Quantity)
FROM OrderDetails; ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

SUM(Quantity)
----------------------------------------
12743

### Add a WHERE Clause

In [84]:
cursor.execute(''' SELECT SUM(Quantity)
FROM OrderDetails
WHERE ProductId = 11; ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

SUM(Quantity)
----------------------------------------
182

### Use an Alias

In [85]:
cursor.execute(''' SELECT SUM(Quantity) AS total
FROM OrderDetails; ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

total
----------------------------------------
12743

### Use SUM() with GROUP BY

In [86]:
cursor.execute(''' SELECT OrderID, SUM(Quantity) AS [Total Quantity]
FROM OrderDetails
GROUP BY OrderID; ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

OrderID | Total Quantity
----------------------------------------
10248 | 27
10249 | 49
10250 | 60
10251 | 41
10252 | 105
10253 | 102
10254 | 57
10255 | 110
10256 | 27
10257 | 46
10258 | 121
10259 | 11
10260 | 102
10261 | 40
10262 | 29
10263 | 184
10264 | 60
10265 | 50
10266 | 12
10267 | 135
10268 | 14
10269 | 80
10270 | 55
10271 | 24
10272 | 70
10273 | 152
10274 | 27
10275 | 18
10276 | 25
10277 | 32
10278 | 64
10279 | 15
10280 | 62
10281 | 11
10282 | 8
10283 | 76
10284 | 61
10285 | 121
10286 | 140
10287 | 75
10288 | 13
10289 | 39
10290 | 60
10291 | 46
10292 | 20
10293 | 33
10294 | 75
10295 | 4
10296 | 57
10297 | 80
10298 | 125
10299 | 35
10300 | 50
10301 | 30
10302 | 80
10303 | 85
10304 | 42
10305 | 80
10306 | 25
10307 | 13
10308 | 6
10309 | 75
10310 | 15
10311 | 13
10312 | 58
10313 | 12
10314 | 95
10315 | 44
10316 | 80
10317 | 20
10318 | 26
10319 | 52
10320 | 30
10321 | 10
10322 | 20
10323 | 13
10324 | 241
10325 | 71
10326 | 90
10327 | 140
10328 | 59
10329 | 50
10330 | 75
10331 | 15
10332 | 66
10333 | 60
10334 | 18
10335 | 86
10336 | 18
10337 | 137
10338 | 35
10339 | 108
10340 | 72
10341 | 17
10342 | 160
10343 | 69
10344 | 105
10345 | 159
10346 | 56
10347 | 70
10348 | 40
10349 | 24
10350 | 33
10351 | 120
10352 | 30
10353 | 62
10354 | 16
10355 | 50
10356 | 62
10357 | 54
10358 | 40
10359 | 206
10360 | 138
10361 | 109
10362 | 94
10363 | 44
10364 | 35
10365 | 24
10366 | 10
10367 | 76
10368 | 78
10369 | 38
10370 | 65
10371 | 6
10372 | 164
10373 | 130
10374 | 45
10375 | 25
10376 | 42
10377 | 40
10378 | 6
10379 | 44
10380 | 74
10381 | 14
10382 | 165
10383 | 55
10384 | 43
10385 | 38
10386 | 25
10387 | 48
10388 | 75
10389 | 81
10390 | 169
10391 | 18
10392 | 50
10393 | 176
10394 | 20
10395 | 106
10396 | 121
10397 | 28
10398 | 150
10399 | 139
10400 | 86
10401 | 168
10402 | 125
10403 | 91
10404 | 100
10405 | 50
10406 | 89
10407 | 60
10408 | 51
10409 | 24
10410 | 65
10411 | 74
10412 | 20
10413 | 78
10414 | 68
10415 | 22
10416 | 50
10417 | 123
10418 | 146
10419 | 80
10420 | 50
10421 | 59
10422 | 2
10423 | 34
10424 | 139
10425 | 30
10426 | 12
10427 | 35
10428 | 20
10429 | 75
10430 | 195
10431 | 130
10432 | 50
10433 | 28
10434 | 24
10435 | 32
10436 | 99
10437 | 15
10438 | 50
10439 | 67
10440 | 208
10441 | 50
10442 | 170
10443 | 18

### SUM() With an Expression

In [87]:
cursor.execute(''' SELECT SUM(Quantity * 10)
FROM OrderDetails; ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

SUM(Quantity * 10)
----------------------------------------
127430

###

In [88]:
cursor.execute(''' SELECT SUM(Price * Quantity)
FROM OrderDetails
LEFT JOIN Products ON OrderDetails.ProductID = Products.ProductID;
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

SUM(Price * Quantity)
----------------------------------------
386424.23

## SQL Avg

### The SQL AVG() Function

In [89]:
cursor.execute(''' SELECT AVG(Price)
FROM Products;
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

AVG(Price)
----------------------------------------
28.866363636363637

### Add a WHERE Clause

In [90]:
cursor.execute(''' SELECT AVG(Price)
FROM Products
WHERE CategoryID = 1;
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

AVG(Price)
----------------------------------------
37.979166666666664

### Use an Alias

In [91]:
cursor.execute(''' SELECT AVG(Price) AS [average price]
FROM Products;
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

average price
----------------------------------------
28.866363636363637

### Higher Than Average

In [92]:
cursor.execute(''' SELECT * FROM Products
WHERE price > (SELECT AVG(price) FROM Products);
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

ProductID | ProductName | SupplierID | CategoryID | Unit | Price
----------------------------------------
7 | Uncle Bob's Organic Dried Pears | 3 | 7 | 12 - 1 lb pkgs. | 30
8 | Northwoods Cranberry Sauce | 3 | 2 | 12 - 12 oz jars | 40
9 | Mishi Kobe Niku | 4 | 6 | 18 - 500 g pkgs. | 97
10 | Ikura | 4 | 8 | 12 - 200 ml jars | 31
12 | Queso Manchego La Pastora | 5 | 4 | 10 - 500 g pkgs. | 38
17 | Alice Mutton | 7 | 6 | 20 - 1 kg tins | 39
18 | Carnarvon Tigers | 7 | 8 | 16 kg pkg. | 62.5
20 | Sir Rodney's Marmalade | 8 | 3 | 30 gift boxes | 81
26 | Gumbär Gummibärchen | 11 | 3 | 100 - 250 g bags | 31.23
27 | Schoggi Schokolade | 11 | 3 | 100 - 100 g pieces | 43.9
28 | Rössle Sauerkraut | 12 | 7 | 25 - 825 g cans | 45.6
29 | Thüringer Rostbratwurst | 12 | 6 | 50 bags x 30 sausgs. | 123.79
32 | Mascarpone Fabioli | 14 | 4 | 24 - 200 g pkgs. | 32
38 | Côte de Blaye | 18 | 1 | 12 - 75 cl bottles | 263.5
43 | Ipoh Coffee | 20 | 1 | 16 - 500 g tins | 46
51 | Manjimup Dried Apples | 24 | 7 | 50 - 300 g pkgs. | 53
53 | Perth Pasties | 24 | 6 | 48 pieces | 32.8
56 | Gnocchi di nonna Alice | 26 | 5 | 24 - 250 g pkgs. | 38
59 | Raclette Courdavault | 28 | 4 | 5 kg pkg. | 55
60 | Camembert Pierrot | 28 | 4 | 15 - 300 g rounds | 34
62 | Tarte au sucre | 29 | 3 | 48 pies | 49.3
63 | Vegie-spread | 7 | 2 | 15 - 625 g jars | 43.9
64 | Wimmers gute Semmelknödel | 12 | 5 | 20 bags x 4 pieces | 33.25
69 | Gudbrandsdalsost | 15 | 4 | 10 kg pkg. | 36
72 | Mozzarella di Giovanni | 14 | 4 | 24 - 200 g pkgs. | 34.8

### Use AVG() with GROUP BY

In [93]:
cursor.execute(''' SELECT AVG(Price) AS AveragePrice, CategoryID
FROM Products
GROUP BY CategoryID;
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

AveragePrice | CategoryID
----------------------------------------
37.979166666666664 | 1
23.0625 | 2
25.16 | 3
28.73 | 4
20.25 | 5
54.00666666666667 | 6
32.37 | 7
20.6825 | 8

## SQL Like

### The SQL LIKE Operator

In [94]:
cursor.execute(''' SELECT * FROM Customers
WHERE CustomerName LIKE 'a%';
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
2 | Ana Trujillo Emparedados y helados | Juan | Avda. de la Constitución 2222 | México D.F. | 05021 | Mexico
3 | Antonio Moreno Taquería | Juan | Mataderos 2312 | México D.F. | 05023 | Mexico
4 | Around the Horn | Thomas Hardy | 120 Hanover Sq. | London | WA1 1DP | UK

### The _ Wildcard

In [95]:
cursor.execute(''' SELECT * FROM Customers
WHERE city LIKE 'L_nd__';
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
4 | Around the Horn | Thomas Hardy | 120 Hanover Sq. | London | WA1 1DP | UK
11 | B's Beverages | Victoria Ashworth | Fauntleroy Circus | London | EC2 5NT | UK
16 | Consolidated Holdings | Elizabeth Brown | Berkeley Gardens 12 Brewery | London | WX1 6LT | UK
19 | Eastern Connection | Ann Devon | 35 King George | London | WX3 6FW | UK
53 | North/South | Simon Crowther | South House 300 Queensbridge | London | SW7 1RZ | UK
72 | Seven Seas Imports | Hari Kumar | 90 Wadhurst Rd. | London | OX15 4NB | UK
75 | Split Rail Beer & Ale | Art Braunschweiger | P.O. Box 555 | Lander | 82520 | USA

### The % Wildcard

In [96]:
cursor.execute(''' SELECT * FROM Customers
WHERE city LIKE '%L%';
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
4 | Around the Horn | Thomas Hardy | 120 Hanover Sq. | London | WA1 1DP | UK
5 | Berglunds snabbköp | Christina Berglund | Berguvsvägen 8 | Luleå | S-958 22 | Sweden
9 | Bon app' | Laurence Lebihans | 12, rue des Bouchers | Marseille | 13008 | France
11 | B's Beverages | Victoria Ashworth | Fauntleroy Circus | London | EC2 5NT | UK
15 | Comércio Mineiro | Pedro Afonso | Av. dos Lusíadas, 23 | São Paulo | 05432-043 | Brazil
16 | Consolidated Holdings | Elizabeth Brown | Berkeley Gardens 12 Brewery | London | WX1 6LT | UK
19 | Eastern Connection | Ann Devon | 35 King George | London | WX3 6FW | UK
21 | Familia Arquibaldo | Aria Cruz | Rua Orós, 92 | São Paulo | 05442-030 | Brazil
23 | Folies gourmandes | Martine Rancé | 184, chaussée de Tournai | Lille | 59000 | France
28 | Furia Bacalhau e Frutos do Mar | Lino Rodriguez | Jardim das rosas n. 32 | Lisboa | 1675 | Portugal
29 | Galería del gastrónomo | Eduardo Saavedra | Rambla de Cataluña, 23 | Barcelona | 08022 | Spain
30 | Godos Cocina Típica | José Pedro Freyre | C/ Romero, 33 | Sevilla | 41101 | Spain
35 | HILARIÓN-Abastos | Carlos Hernández | Carrera 22 con Ave. Carlos Soublette #8-35 | San Cristóbal | 5022 | Venezuela
36 | Hungry Coyote Import Store | Yoshi Latimer | City Center Plaza 516 Main St. | Elgin | 97827 | USA
40 | La corne d'abondance | Daniel Tonini | 67, avenue de l'Europe | Versailles | 78000 | France
41 | La maison d'Asie | Annette Roulet | 1 rue Alsace-Lorraine | Toulouse | 31000 | France
43 | Lazy K Kountry Store | John Steel | 12 Orchestra Terrace | Walla Walla | 99362 | USA
48 | Lonesome Pine Restaurant | Fran Wilson | 89 Chiaroscuro Rd. | Portland | 97219 | USA
50 | Maison Dewey | Catherine Dewey | Rue Joseph-Bens 532 | Bruxelles | B-1180 | Belgium
51 | Mère Paillarde | Jean Fresnière | 43 rue St. Laurent | Montréal | H1J 1C3 | Canada
52 | Morgenstern Gesundkost | Alexander Feuer | Heerstr. 22 | Leipzig | 04179 | Germany
53 | North/South | Simon Crowther | South House 300 Queensbridge | London | SW7 1RZ | UK
56 | Ottilies Käseladen | Henriette Pfalzheim | Mehrheimerstr. 369 | Köln | 50739 | Germany
59 | Piccolo und mehr | Georg Pipps | Geislweg 14 | Salzburg | 5020 | Austria
60 | Princesa Isabel Vinhoss | Isabel de Castro | Estrada da saúde n. 58 | Lisboa | 1756 | Portugal
62 | Queen Cozinha | Lúcia Carvalho | Alameda dos Canàrios, 891 | São Paulo | 05487-020 | Brazil
63 | QUICK-Stop | Horst Kloss | Taucherstraße 10 | Cunewalde | 01307 | Germany
65 | Rattlesnake Canyon Grocery | Paula Wilson | 2817 Milton Dr. | Albuquerque | 87110 | USA
66 | Reggiani Caseifici | Maurizio Moroni | Strada Provinciale 124 | Reggio Emilia | 42100 | Italy
72 | Seven Seas Imports | Hari Kumar | 90 Wadhurst Rd. | London | OX15 4NB | UK
75 | Split Rail Beer & Ale | Art Braunschweiger | P.O. Box 555 | Lander | 82520 | USA
76 | Suprêmes délices | Pascale Cartrain | Boulevard Tirou, 255 | Charleroi | B-6000 | Belgium
77 | The Big Cheese | Liz Nixon | 89 Jefferson Way Suite 2 | Portland | 97201 | USA
81 | Tradição Hipermercados | Anabela Domingues | Av. Inês de Castro, 414 | São Paulo | 05634-030 | Brazil
82 | Trail's Head Gourmet Provisioners | Helvetius Nagy | 722 DaVinci Blvd. | Kirkland | 98034 | USA
84 | Victuailles en stock | Mary Saveley | 2, rue du Commerce | Lyon | 69004 | France
87 | Wartian Herkku | Pirkko Koskitalo | Torikatu 38 | Oulu | 90110 | Finland
89 | White Clover Markets | Karl Jablonski | 305 - 14th Ave. S. Suite 3B | Seattle | 98128 | USA
90 | Wilman Kala | Matti Karttunen | Keskuskatu 45 | Helsinki | 21240 | Finland
91 | Wolski | Zbyszek | ul. Filtrowa 68 | Walla | 01-012 | Poland
98 | Tasty Tee | Finn Egan | Streetroad 19B | Liverpool | L1 0AA | UK

### Starts With

In [97]:
cursor.execute(''' SELECT * FROM Customers
WHERE CustomerName LIKE 'La%';
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
40 | La corne d'abondance | Daniel Tonini | 67, avenue de l'Europe | Versailles | 78000 | France
41 | La maison d'Asie | Annette Roulet | 1 rue Alsace-Lorraine | Toulouse | 31000 | France
42 | Laughing Bacchus Wine Cellars | Yoshi Tannamuri | 1900 Oak St. | Vancouver | V3F 2K1 | Canada
43 | Lazy K Kountry Store | John Steel | 12 Orchestra Terrace | Walla Walla | 99362 | USA

In [98]:
cursor.execute(''' SELECT * FROM Customers
WHERE CustomerName LIKE 'a%' OR CustomerName LIKE 'b%';
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
2 | Ana Trujillo Emparedados y helados | Juan | Avda. de la Constitución 2222 | México D.F. | 05021 | Mexico
3 | Antonio Moreno Taquería | Juan | Mataderos 2312 | México D.F. | 05023 | Mexico
4 | Around the Horn | Thomas Hardy | 120 Hanover Sq. | London | WA1 1DP | UK
5 | Berglunds snabbköp | Christina Berglund | Berguvsvägen 8 | Luleå | S-958 22 | Sweden
6 | Blauer See Delikatessen | Hanna Moos | Forsterstr. 57 | Mannheim | 68306 | Germany
7 | Blondel père et fils | Frédérique Citeaux | 24, place Kléber | Strasbourg | 67000 | France
8 | Bólido Comidas preparadas | Martín Sommer | C/ Araquil, 67 | Madrid | 28023 | Spain
9 | Bon app' | Laurence Lebihans | 12, rue des Bouchers | Marseille | 13008 | France
10 | Bottom-Dollar Marketse | Elizabeth Lincoln | 23 Tsawassen Blvd. | Tsawassen | T2F 8M4 | Canada
11 | B's Beverages | Victoria Ashworth | Fauntleroy Circus | London | EC2 5NT | UK

### Ends with

In [99]:
cursor.execute(''' SELECT * FROM Customers
WHERE CustomerName LIKE '%a';
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
3 | Antonio Moreno Taquería | Juan | Mataderos 2312 | México D.F. | 05023 | Mexico
13 | Centro comercial Moctezuma | Juan | Sierras de Granada 9993 | México D.F. | 05022 | Mexico
30 | Godos Cocina Típica | José Pedro Freyre | C/ Romero, 33 | Sevilla | 41101 | Spain
61 | Que Delícia | Bernardo Batista | Rua da Panificadora, 12 | Rio de Janeiro | 02389-673 | Brazil
62 | Queen Cozinha | Lúcia Carvalho | Alameda dos Canàrios, 891 | São Paulo | 05487-020 | Brazil
88 | Wellington Importadora | Paula Parente | Rua do Mercado, 12 | Resende | 08737-363 | Brazil
90 | Wilman Kala | Matti Karttunen | Keskuskatu 45 | Helsinki | 21240 | Finland

In [100]:
cursor.execute(''' SELECT * FROM Customers
WHERE CustomerName LIKE 'b%s';
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
7 | Blondel père et fils | Frédérique Citeaux | 24, place Kléber | Strasbourg | 67000 | France
8 | Bólido Comidas preparadas | Martín Sommer | C/ Araquil, 67 | Madrid | 28023 | Spain
11 | B's Beverages | Victoria Ashworth | Fauntleroy Circus | London | EC2 5NT | UK

### Contains

In [101]:
cursor.execute(''' SELECT * FROM Customers
WHERE CustomerName LIKE '%or%';

 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
3 | Antonio Moreno Taquería | Juan | Mataderos 2312 | México D.F. | 05023 | Mexico
4 | Around the Horn | Thomas Hardy | 120 Hanover Sq. | London | WA1 1DP | UK
36 | Hungry Coyote Import Store | Yoshi Latimer | City Center Plaza 516 Main St. | Elgin | 97827 | USA
40 | La corne d'abondance | Daniel Tonini | 67, avenue de l'Europe | Versailles | 78000 | France
43 | Lazy K Kountry Store | John Steel | 12 Orchestra Terrace | Walla Walla | 99362 | USA
52 | Morgenstern Gesundkost | Alexander Feuer | Heerstr. 22 | Leipzig | 04179 | Germany
53 | North/South | Simon Crowther | South House 300 Queensbridge | London | SW7 1RZ | UK
55 | Old World Delicatessen | Rene Phillips | 2743 Bering St. | Anchorage | 99508 | USA
72 | Seven Seas Imports | Hari Kumar | 90 Wadhurst Rd. | London | OX15 4NB | UK
80 | Tortuga Restaurante | Juan | Avda. Azteca 123 | México D.F. | 05033 | Mexico
88 | Wellington Importadora | Paula Parente | Rua do Mercado, 12 | Resende | 08737-363 | Brazil

### Combine Wildcards

In [102]:
cursor.execute(''' SELECT * FROM Customers
WHERE CustomerName LIKE 'a__%';
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
2 | Ana Trujillo Emparedados y helados | Juan | Avda. de la Constitución 2222 | México D.F. | 05021 | Mexico
3 | Antonio Moreno Taquería | Juan | Mataderos 2312 | México D.F. | 05023 | Mexico
4 | Around the Horn | Thomas Hardy | 120 Hanover Sq. | London | WA1 1DP | UK

In [103]:
cursor.execute(''' SELECT * FROM Customers
WHERE CustomerName LIKE '_r%';
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
4 | Around the Horn | Thomas Hardy | 120 Hanover Sq. | London | WA1 1DP | UK
17 | Drachenblut Delikatessend | Sven Ottlieb | Walserweg 21 | Aachen | 52066 | Germany
20 | Ernst Handel | Roland Mendel | Kirchgasse 6 | Graz | 8010 | Austria
25 | Frankenversand | Peter Franken | Berliner Platz 43 | München | 80805 | Germany
26 | France restauration | Carine Schmitt | 54, rue Royale | Nantes | 44000 | France
27 | Franchi S.p.A. | Paolo Accorti | Via Monte Bianco 34 | Torino | 10100 | Italy
32 | Great Lakes Food Market | Howard Snyder | 2732 Baker Blvd. | Eugene | 97403 | USA
33 | GROSELLA-Restaurante | Manuel Pereira | 5ª Ave. Los Palos Grandes | Caracas | 1081 | Venezuela
60 | Princesa Isabel Vinhoss | Isabel de Castro | Estrada da saúde n. 58 | Lisboa | 1756 | Portugal
81 | Tradição Hipermercados | Anabela Domingues | Av. Inês de Castro, 414 | São Paulo | 05634-030 | Brazil
82 | Trail's Head Gourmet Provisioners | Helvetius Nagy | 722 DaVinci Blvd. | Kirkland | 98034 | USA
97 | Greasy Burger | Per Olsen | Gateveien 15 | Sandnes | 4306 | Norway

### Without Wildcard

In [104]:
cursor.execute(''' SELECT * FROM Customers
WHERE Country LIKE 'Spain';
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
8 | Bólido Comidas preparadas | Martín Sommer | C/ Araquil, 67 | Madrid | 28023 | Spain
22 | FISSA Fabrica Inter. Salchichas S.A. | Diego Roel | C/ Moralzarzal, 86 | Madrid | 28034 | Spain
29 | Galería del gastrónomo | Eduardo Saavedra | Rambla de Cataluña, 23 | Barcelona | 08022 | Spain
30 | Godos Cocina Típica | José Pedro Freyre | C/ Romero, 33 | Sevilla | 41101 | Spain
69 | Romero y tomillo | Alejandra Camino | Gran Vía, 1 | Madrid | 28001 | Spain

## SQL Wildcards

### SQL Wildcard Characters

In [105]:
cursor.execute(''' SELECT * FROM Customers
WHERE CustomerName LIKE 'a%';
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
2 | Ana Trujillo Emparedados y helados | Juan | Avda. de la Constitución 2222 | México D.F. | 05021 | Mexico
3 | Antonio Moreno Taquería | Juan | Mataderos 2312 | México D.F. | 05023 | Mexico
4 | Around the Horn | Thomas Hardy | 120 Hanover Sq. | London | WA1 1DP | UK

### Using the % Wildcard

In [106]:
cursor.execute(''' SELECT * FROM Customers
WHERE CustomerName LIKE '%es';
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
11 | B's Beverages | Victoria Ashworth | Fauntleroy Circus | London | EC2 5NT | UK
23 | Folies gourmandes | Martine Rancé | 184, chaussée de Tournai | Lille | 59000 | France
31 | Gourmet Lanchonetes | André Fonseca | Av. Brasil, 442 | Campinas | 04876-786 | Brazil
34 | Hanari Carnes | Mario Pontes | Rua do Paço, 67 | Rio de Janeiro | 05454-876 | Brazil
47 | LINO-Delicateses | Felipe Izquierdo | Ave. 5 de Mayo Porlamar | I. de Margarita | 4980 | Venezuela
76 | Suprêmes délices | Pascale Cartrain | Boulevard Tirou, 255 | Charleroi | B-6000 | Belgium

In [107]:
cursor.execute(''' SELECT * FROM Customers
WHERE CustomerName LIKE '%mer%';
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
13 | Centro comercial Moctezuma | Juan | Sierras de Granada 9993 | México D.F. | 05022 | Mexico
46 | LILA-Supermercado | Carlos González | Carrera 52 con Ave. Bolívar #65-98 Llano Largo | Barquisimeto | 3508 | Venezuela
69 | Romero y tomillo | Alejandra Camino | Gran Vía, 1 | Madrid | 28001 | Spain
81 | Tradição Hipermercados | Anabela Domingues | Av. Inês de Castro, 414 | São Paulo | 05634-030 | Brazil

### Using the _ Wildcard

In [108]:
cursor.execute(''' SELECT * FROM Customers
WHERE City LIKE '_ondon';
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
4 | Around the Horn | Thomas Hardy | 120 Hanover Sq. | London | WA1 1DP | UK
11 | B's Beverages | Victoria Ashworth | Fauntleroy Circus | London | EC2 5NT | UK
16 | Consolidated Holdings | Elizabeth Brown | Berkeley Gardens 12 Brewery | London | WX1 6LT | UK
19 | Eastern Connection | Ann Devon | 35 King George | London | WX3 6FW | UK
53 | North/South | Simon Crowther | South House 300 Queensbridge | London | SW7 1RZ | UK
72 | Seven Seas Imports | Hari Kumar | 90 Wadhurst Rd. | London | OX15 4NB | UK

In [109]:
cursor.execute(''' SELECT * FROM Customers
WHERE City LIKE 'L___on';
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
4 | Around the Horn | Thomas Hardy | 120 Hanover Sq. | London | WA1 1DP | UK
11 | B's Beverages | Victoria Ashworth | Fauntleroy Circus | London | EC2 5NT | UK
16 | Consolidated Holdings | Elizabeth Brown | Berkeley Gardens 12 Brewery | London | WX1 6LT | UK
19 | Eastern Connection | Ann Devon | 35 King George | London | WX3 6FW | UK
53 | North/South | Simon Crowther | South House 300 Queensbridge | London | SW7 1RZ | UK
72 | Seven Seas Imports | Hari Kumar | 90 Wadhurst Rd. | London | OX15 4NB | UK

### Using the [] Wildcard

In [118]:
cursor.execute(''' SELECT * FROM Customers
WHERE CustomerName LIKE 'b%' or customername like 's%' or customername like 'p%';
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------
5 | Berglunds snabbköp | Christina Berglund | Berguvsvägen 8 | Luleå | S-958 22 | Sweden
6 | Blauer See Delikatessen | Hanna Moos | Forsterstr. 57 | Mannheim | 68306 | Germany
7 | Blondel père et fils | Frédérique Citeaux | 24, place Kléber | Strasbourg | 67000 | France
8 | Bólido Comidas preparadas | Martín Sommer | C/ Araquil, 67 | Madrid | 28023 | Spain
9 | Bon app' | Laurence Lebihans | 12, rue des Bouchers | Marseille | 13008 | France
10 | Bottom-Dollar Marketse | Elizabeth Lincoln | 23 Tsawassen Blvd. | Tsawassen | T2F 8M4 | Canada
11 | B's Beverages | Victoria Ashworth | Fauntleroy Circus | London | EC2 5NT | UK
57 | Paris spécialités | Marie Bertrand | 265, boulevard Charonne | Paris | 75012 | France
58 | Pericles Comidas clásicas | Juan | Calle Dr. Jorge Cash 321 | México D.F. | 05033 | Mexico
59 | Piccolo und mehr | Georg Pipps | Geislweg 14 | Salzburg | 5020 | Austria
60 | Princesa Isabel Vinhoss | Isabel de Castro | Estrada da saúde n. 58 | Lisboa | 1756 | Portugal
70 | Santé Gourmet | Jonas Bergulfsen | Erling Skakkes gate 78 | Stavern | 4110 | Norway
71 | Save-a-lot Markets | Jose Pavarotti | 187 Suffolk Ln. | Boise | 83720 | USA
72 | Seven Seas Imports | Hari Kumar | 90 Wadhurst Rd. | London | OX15 4NB | UK
73 | Simons bistro | Jytte Petersen | Vinbæltet 34 | København | 1734 | Denmark
74 | Spécialités du monde | Dominique Perrier | 25, rue Lauriston | Paris | 75016 | France
75 | Split Rail Beer & Ale | Art Braunschweiger | P.O. Box 555 | Lander | 82520 | USA
76 | Suprêmes délices | Pascale Cartrain | Boulevard Tirou, 255 | Charleroi | B-6000 | Belgium

### Using the - Wildcard

In [117]:
cursor.execute(''' SELECT * FROM Customers
WHERE CustomerName LIKE '[a-f]%';
 ''')

rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# 헤더 출력
print(" | ".join(columns))
print("-" * 40)

# 데이터 출력
for row in rows:
    print(" | ".join(str(col) for col in row))

CustomerID | CustomerName | ContactName | Address | City | PostalCode | Country
----------------------------------------